<div class="headerBoard">
  <div class="container">
      <div class="logoBox">
        <a href="#">
          <img src="./assets/img/logo.svg" class="logo" />
          <h1>SMART DIGEST</h1>
        </a>
      </div>
      <div class="searchBar">
          <a href="#">
              <img src="./assets/img/logo.svg" />
          </a>
          <input type="text" placeholder="Search Entire store here..." />
      </div>
      <div class="iconButtonBox">
          <a href="#">
              <img src="./assets/img/logo.svg" />
              <span>FAQ</span>
          </a>
          <a href="#">
              <img src="./assets/img/logo.svg" />
              <span>Catalogue</span>
          </a>
          <a href="#">
              <img src="./assets/img/logo.svg" />
              <span>FAQ</span>
          </a>
      </div>
  </div>
</div>
