<div class="marketingViedo" [style.background]="backgroundImg">
  <div class="container">
    <div>
      <h3>{{'Start Composting'|translate}}</h3>
      <p>{{'Divert food and packaging from landfills and reverse climate change. Just search your zip code and find a local composter, and start making nutrient-dense compost.'|translate}}</p>
      <button [routerLink]="['landing/esgMarketing']">{{'Join the Compost Connection'|translate}}</button>
    </div>
    <video controls>
      <source src="mov_bbb.mp4" type="video/mp4">
      <source src="mov_bbb.ogg" type="video/ogg">
      {{'Your browser does not support HTML video.'|translate}}
    </video>
  </div>
</div>