<div class="box"
  style="display:flex; align-items: center; justify-content: center;flex-direction: column;     padding-bottom: 3rem;"
  (window:resize)="onResize($event)">

  <div class="toolBox">
    <button *ngIf="displayMode !== DisplayMode.Answer"
      (click)="displayMode = DisplayMode.Answer;sentenceAnswerDisplay = true;">
      {{displayMode}}
    </button>
    <ng-container *ngIf="displayMode === DisplayMode.Answer">
      <button (click)="answerScoreReset(true)">會</button>
      <button (click)="answerScoreReset(false)">不會</button>
    </ng-container>
  </div>

  <p *ngIf="SUSS > 0">連續 {{SUSS}} 答題成功!!</p>
  <div style="padding: 1.5rem;">
    <div *ngIf="card">
      <span *ngIf="card?.score">Score：{{card?.score}}</span>
      <hr>
      <p [innerHtml]="sentence?.en | highlight:card?.en:'full'"></p>
      <ng-container *ngIf="displayMode === DisplayMode.Answer">
        <p>
          <ng-container *ngIf="sentenceAnswerDisplay">
            <p [innerHtml]="sentence?.cn"></p>
          </ng-container>
        </p>
        <button *ngIf="sentenceAnswerDisplay" (click)="drawSentence()">更多例句</button>
        <button *ngIf="!sentenceAnswerDisplay" (click)="sentenceAnswerDisplay = true">例句答案</button>
        <hr>
        <p>{{card?.en}}</p>
        <p>{{card?.cn}}</p>
      </ng-container>
      <hr>
      <div>
        <input type="text" [(ngModel)]="searchWord.word" />
        <button (click)="searchWordMark()">搜尋單字註記不會</button>
        <p>{{searchWord?.display}}</p>
        <p>{{searchWord?.explain}}</p>
        <p *ngIf="searchWord?.score">Score：{{searchWord?.score}}</p>
      </div>
    </div>
  </div>

  <table *ngIf="debugDisplay">
    <thead>
      <th colspan="7">
        頭獎門檻：{{debug?.drawScore}}
      </th>
    </thead>
    <tbody>
      <td data-th="抽取次數">抽取次數</td>
      <td data-th="抽到的單字">抽到的單字</td>
      <td data-th="最終分數">最終分數</td>
      <td data-th="加權分數">加權分數</td>
      <td data-th="句子頻率次數">句子頻率次數</td>
      <td data-th="答題分數">答題分數</td>
      <td data-th="上次答題時間">上次答題時間</td>
    </tbody>
    <tr *ngFor="let item of debug?.list;">
      <td data-th="抽取次數">{{item?.drawCount}}</td>
      <td data-th="抽到的單字">{{item?.en}}</td>
      <td data-th="最終分數">{{item?.finalScore}}</td>
      <td data-th="加權分數">{{item?.weightedScore}}</td>
      <td data-th="句子頻率次數">{{item?.sentencesLength}}</td>
      <td data-th="答題分數">{{item?.questionScore}}</td>
      <td data-th="上次答題時間">
        <ng-container *ngIf="item?.questionUpdateTime?.minutes">
          {{item?.questionUpdateTime?.days}} d /
          {{item?.questionUpdateTime?.hours}} h /
          {{item?.questionUpdateTime?.minutes}} m
        </ng-container>
      </td>
    </tr>
    <tfoot>
      <th colspan="7" style="font-size: 15px;color:darkcyan">加權分數 = 句子頻率次數 + ( 答題分數 * 答題加權
        config.questionsScore.score：{{config?.questionsScore?.score}} ) + (( 上次答題時間 <
          config.dayScore.days：{{config?.dayScore?.days}}) * 設定檔時間加權 config.dayScore.score： {{config?.dayScore?.score}}
          )</th>
    </tfoot>
  </table>

  <div class="list">
    <p>頭獎門檻：{{debug?.drawScore}}</p>
    <ol *ngFor="let item of debug?.list;" style=" border: 1px solid #ccc;">
      <li>抽取次數：{{item?.drawCount}}</li>
      <li>抽到的單字：{{item?.en}}</li>
      <li>最終分數：{{item?.finalScore}}</li>
      <li>加權分數：{{item?.weightedScore}}</li>
      <li>句子頻率次數：{{item?.sentencesLength}}</li>
      <li>答題分數：{{item?.questionScore}}</li>
      <li>上次答題時間：{{item?.questionUpdateTime?.days}} d /
        {{item?.questionUpdateTime?.hours}} h /
        {{item?.questionUpdateTime?.minutes}} m</li>
    </ol>
  </div>

  <div style="max-width: 50vw;">
    <hr>
    <div>
      <button class="unobviousBtn" (click)="resetAnswerScore()">清空紀錄</button>
      <button class="unobviousBtn" (click)="setTheme()">切換黑白模式</button>
      <br>
      <button class="unobviousBtn" (click)="clickDebug()">Debug</button>
      <button class="unobviousBtn" (click)="clickImExport()">匯出匯入</button>
    </div>
    <div *ngIf="isExportAnswerScore" style="display: flex;flex-direction: column;">
      <textarea [(ngModel)]="answerScoreDisplay"></textarea>
      <button class="unobviousBtn" (click)="importAnswerScore()">匯入</button>
    </div>
    <canvas id="canvas">{{chart}}</canvas>
    <div style="margin-top: 3rem;display: flex;flex-direction: column;" *ngIf="debugDisplay">
      <hr>
      <p>Config：<button class="unobviousBtn" (click)="importConfig()">更改設定檔</button></p>
      <textarea [(ngModel)]="configDisplay"></textarea>
    </div>
  </div>


</div>