<div class="footerNav">
  <div class="container">
      <div>
          <h4>Shop Products</h4>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
      </div>
      <div>
          <h4>Shop Products</h4>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
      </div>
      <div>
          <h4>Shop Products</h4>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
      </div>
      <div>
          <h4>Shop Products</h4>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <a>BioPak Catalogue</a>
          <img src="./assets/img/logo.svg" />
      </div>
  </div>
</div>
