h3 {
  margin: 2rem 0;
  text-align: left;
  color: var(--mainColor);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5rem;
}

th,
td {
  text-align: left;
  padding: 2rem;
  font-size: 1.6rem;
}

tr:nth-child(even) {
  background-color: var(--subSubColor);
}

ul{
  list-style-type: circle;
}

li {
  font-size: 1.6rem;
  margin: 2rem;
  line-height: 3rem;
}

.featureIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 10rem;
  margin: 5rem;
}
