<!-- poster="https://assets.codepen.io/6093409/river.jpg" -->
<video id="background-video" autoplay loop muted preload="auto">
  <source src="./assets/mods/underwater.mp4" type="video/mp4">
  Video not supported
</video>

<!-- https://stackoverflow.com/questions/50011614/overflow-hidden-on-an-absolute-positioned-svg -->
<!-- style="overflow: hidden;position: relative;" -->
<div>
  <div class="animationBox">
    <img class="left" #diver1 [src]="'./assets/mods/diver1.gif'">
    <img class="right" #diver2 [src]="'./assets/mods/diver2.gif'">
    <!-- <lib-svg class="right" #fish1 [src]="'./assets/mods/fish2.svg'"></lib-svg> -->
    <img class="right" #fish1 [src]="'./assets/mods/fish2.gif'">
    <!-- <lib-svg class="left" #fish2 [src]="'./assets/mods/fish1.svg'"></lib-svg> -->
    <img class="left" #fish2 [src]="'./assets/mods/fish1.gif'">
    <img class="bottom" #fish3 [src]="'./assets/mods/fish3.gif'">
    <img #ink src="./assets/mods/ink.png" style="position:absolute;opacity:0;z-index: 1000;">
    <!-- <lib-svg class="sharkMouth" #sharkMouth [src]="'./assets/mods/sharkMouth.svg'" height="40vh"></lib-svg> -->
    <img class="sharkMouth" #sharkMouth [src]="'./assets/mods/sharkMouth.gif'" height="40vh">
  </div>

  <div class="heroImageContent flexBoxColumn" [ngClass]="{'mixBlendModeDf':isMixBlendModeDf}">
    <p>was established in 1989.</p>
    <h4>is an international standardized test</h4>
    <h2>The International English</h2>
    <span class='pulse-button' (click)="Part3Animation()">pulse</span>
  </div>

  <div class="sceneBox">
    <lib-svg [src]="'./assets/mods/scene10.svg'" [height]="'20vh'"></lib-svg>
    <lib-svg [src]="'./assets/mods/scene6.svg'" [boxStyle]="'width:100%;position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[1]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/mods/scene3.svg'" [boxStyle]="'position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[2]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/mods/scene5.svg'" [boxStyle]="'width:100%;position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[3]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/mods/scene2.svg'"
      [boxStyle]="'transform: scaleX(-1);position:absolute;bottom:0;left:0;z-index:-50'"
      [height]="sceneHeight[4]+'vh'"></lib-svg>
  </div>
</div>
<div style="margin-top: -5px;width: 100%;background-image: url('./assets/mods/mock.png');height: 1500px;">
  <div class="flexBoxColumn" style="height:100%;padding:0 25rem;color:white;text-shadow: 1px 1px 1px black;flex-direction: unset;">
    <div>
      <img src="./assets/mods/showGirl2.png" style="width:100%;">
    </div>
    <div>
      <p>remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>
      <h2>What is Lorem Ipsum?</h2>
      <button></button>
    </div>
  </div>
</div>
<div style="margin-top: -5px;">
  <lib-svg [svgClass]="'scene1'" [src]="'./assets/mods/scene1.svg'" [boxStyle]="'width:100%;'" height="40vh"></lib-svg>
</div>
<div style="height: 100vh;">
  <div class="flexBoxRow">

  </div>
</div>
<div style="height: 100vh;">
</div>
<div style="height: 100vh;">
</div>
<div style="height: 100vh;">
</div>
