<!-- poster="https://assets.codepen.io/6093409/river.jpg" -->
<video id="background-video" autoplay loop muted preload="auto">
  <source src="./assets/underwater.mp4" type="video/mp4">
  Video not supported
</video>

<!-- https://stackoverflow.com/questions/50011614/overflow-hidden-on-an-absolute-positioned-svg -->
<!-- style="overflow: hidden;position: relative;" -->
<div>
  <div class="animationBox">
    <img class="left" #diver1 [src]="'./assets/diver1.gif'">
    <img class="right" #diver2 [src]="'./assets/diver1.gif'">
    <lib-svg class="right" #fish1 [src]="'./assets/fish2.svg'"></lib-svg>
    <lib-svg class="left" #fish2 [src]="'./assets/fish1.svg'"></lib-svg>
    <lib-svg class="bottom" #fish3 [src]="'./assets/fish3.svg'"></lib-svg>
    <img #ink src="./assets/ink.png" style="position:absolute;opacity:0;z-index: 1000;">
    <lib-svg class="sharkMouth" #sharkMouth [src]="'./assets/sharkMouth.svg'" height="40vh"></lib-svg>
  </div>

  <div class="heroImageContent flexBoxColumn" [ngClass]="{'mixBlendModeDf':isMixBlendModeDf}">
    <p>was established in 1989.</p>
    <h4>is an international standardized test</h4>
    <h2>The International English</h2>
    <span class='pulse-button' (click)="Part3Animation()">pulse</span>
  </div>

  <div class="sceneBox">
    <lib-svg [src]="'./assets/scene10.svg'" [height]="sceneHeight[0]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/scene6.svg'" [boxStyle]="'width:100%;position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[1]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/scene3.svg'" [boxStyle]="'position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[2]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/scene5.svg'" [boxStyle]="'width:100%;position:absolute;bottom:0;right:0;z-index:-50'"
      [height]="sceneHeight[3]+'vh'"></lib-svg>
    <lib-svg [src]="'./assets/scene2.svg'"
      [boxStyle]="'transform: scaleX(-1);position:absolute;bottom:0;left:0;z-index:-50'"
      [height]="sceneHeight[4]+'vh'"></lib-svg>
  </div>
</div>
<div style="margin-top: -5px;width: 100%;background-image: url('./assets/mock.png');height: 1500px;">
  <!-- <img src="./assets/mock.png" style="width:100%;"> -->
  <div class="flexBoxColumn" style="height:100%;padding:0 25rem;color:white;text-shadow: 1px 1px 1px black;">
    <p>remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
    <h2>What is Lorem Ipsum?</h2>
  </div>
</div>
<div style="margin-top: -5px;">
  <lib-svg [svgClass]="'scene1'" [src]="'./assets/scene1.svg'" [boxStyle]="'width:100%;'" height="40vh"></lib-svg>
</div>
<div style="height: 100vh;">
  <div class="flexBoxRow">

  </div>
</div>
<div style="height: 100vh;">
</div>
<div style="height: 100vh;">
</div>
<div style="height: 100vh;">
</div>
