<!-- <img #Img1 style="z-index: 4;position:absolute;width: auto;height: 250px;opacity: 0;"
  src="https://i.imgur.com/XJZP2q3.gif">
<img #Img2 style="z-index: 3;position: absolute;width: auto;height: 350px;opacity: 0;"
  src="https://i.imgur.com/BAvQQpJ.png">
<img #Img3 style="z-index: 2;position: absolute;width: auto;height: 350px;opacity: 0;"
  src="https://i.imgur.com/2VQqeJ4.png">
<img #Img4 style="z-index: 1;position: absolute;width: auto;height: 350px;opacity: 0;"
  src="https://i.imgur.com/OTdiMBH.png"> -->