<!-- https://github.com/jonsamwell/angular-simple-shopping-cart -->

<div class="container">
  <ng-container [ngTemplateOutlet]="template"></ng-container>
</div>

<ng-template #bag>
  <h2>Bag</h2>
  <ul>
    <li class="header">
      <span class="checkBox"><input type="checkbox" /></span>
      <span class="info">商品</span>
      <span class="count">數量</span>
      <span class="operate">操作</span>
      <span class="price">單價</span>
    </li>
    <br><br>
    <ul class="promotional">
      <div class="method">
        <span>促銷組合</span>
        <span>任 2 件可享 5%</span>
        <span><a>去看看 ></a></span>
      </div>
      <div class="product" *ngFor="let product of promotional;let i = index;">
        <span class="checkBox"><input type="checkbox" /></span>
        <span class="info">
          <a [routerLink]="['/category/product']">
            <img src="./assets/img/logo.svg" />
            <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
          </a>
        </span>
        <span class="count">
          <div class="countButton">
            <span>-</span><input value="1" /><span>+</span>
          </div>
        </span>
        <span class="operate"></span>
        <span class="price">
          <span class="discount">$398</span>
          <span>$351</span>
        </span>
      </div>
    </ul>
    <li class="product" *ngFor="let product of products">
      <span class="checkBox"><input type="checkbox" /></span>
      <span class="info">
        <a [routerLink]="['/category/product']">
          <img src="./assets/img/logo.svg" />
          <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
        </a>
      </span>
      <span class="count">
        <div class="countButton">
          <span>-</span><input value="1" /><span>+</span>
        </div>
      </span>
      <span class="operate">刪除</span>
      <span class="price">
        <span class="discount">$398</span>
        <span>$351</span>
      </span>
    </li>
  </ul>
  <div class="checkout">
    <p><span>Total Amount</span><span>NTD</span><span>$5.283</span></p>
    <button (click)="template = check">Checkout</button>
  </div>
</ng-template>

<ng-template #check>
  <h2>Order</h2>
  <ul>
    <li class="header">
      <span class="info">商品</span>
      <span class="count">數量</span>
      <span class="price">單價</span>
    </li>
    <li class="product" *ngFor="let product of products">
      <span class="info">
        <img src="./assets/img/logo.svg" />
        <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
      </span>
      <span class="count">
        1
      </span>
      <span class="price">
        <span class="discount">$398</span>
        <span>$351</span>
      </span>
    </li>
  </ul>
  <h2>Delivery</h2>
  <ul>
    <li class="header">
      <span class="info">寄送方式</span>
      <span class="count">說明</span>
      <span class="price">單價</span>
    </li>
  </ul>
  <h2>Coupon</h2>
  <ul>
    <li class="header">
      <span class="info">優惠券</span>
      <span class="count">說明</span>
      <span class="price">單價</span>
    </li>
  </ul>
  <h2>Payment</h2>
  <ul>
    <li class="header">
      <span class="info">付款方式</span>
      <span class="count">說明</span>
    </li>
  </ul>
  <div class="checkout">
    <p><span>Total Amount</span><span>NTD</span><span>$5.283</span></p>
    <button>Purchase</button>
    <!-- IF ALL required OK => VISA => Thanks Page -->
  </div>
</ng-template>

<!-- <ng-template #check>
  <h2>Delivery</h2>
  <ul>
    <li class="header">
      <span></span>
      <span class="price">寄送方式</span>
      <span class="count"></span>
      <span class="total">價格</span>
    </li>
    <li class="header">
      <span><input type="radio" name="delivery" /></span>
      <span class="price">無人機</span>
      <span class="count">預計到貨時間一小時內由無人機空運過來！</span>
      <span class="total">19.99 英鎊</span>
    </li>
    <li class="header">
      <span><input type="radio" name="delivery" /></span>
      <span class="price">便利商店</span>
      <span class="count">預計到貨時間7月25日 - 7月28日</span>
      <span class="total">19.99 英鎊</span>
    </li>
    <li class="header">
      <span><input type="radio" name="delivery" /></span>
      <span class="price">宅配</span>
      <span class="count">預計到貨時間7月25日 - 7月28日</span>
      <span class="total">19.99 英鎊</span>
    </li>
    <li>
      <label for="address">地址</label><input id="address" type="text" placeholder="縣市/地區/街道巷/號樓" />
      <label for="remark">備註：</label><input id="remark" type="text" placeholder="管理室代收/電話聯絡時間" />
    </li>
  </ul>
  <h2>Coupon</h2>
  <ul>
    <li class="header">
      <span class="productInfo">商品</span>
      <span class="price">單價</span>
      <span class="count">數量</span>
      <span class="total"></span>
    </li>
  </ul>
  <h2>Payment</h2>
  <ul>
    <li class="header">
      <span></span>
      <span class="price">付款方式</span>
    </li>
    <li class="header">
      <span><input type="radio" name="payment" /></span>
      <span>貨到付款</span>
    </li>
    <li class="header">
      <span><input type="radio" name="payment" /></span>
      <span>信用卡/金融卡</span>
    </li>
    <li class="header">
      <span><input type="radio" name="payment" /></span>
      <span>銀行轉帳</span>
    </li>
    <li class="totalAmount" style="text-align: right;">
      Total Amount <span>$5.283</span><span>NTD</span>
    </li>
    <div class="checkout">
      IF ALL required OK
      <button>Purchase</button> => VISA => Thanks Page
    </div>
  </ul>
</ng-template> -->