<div class="container">
  <ng-container [ngTemplateOutlet]="template?? bag"></ng-container>
</div>

<!-- Bag -->
<ng-template #bag>
  <h2>Bag</h2>
  <ul>
    <li class="header">
      <span class="checkBox"><input type="checkbox" /></span>
      <span class="productInfo">商品</span>
      <span class="price">單價</span>
      <span class="count">數量</span>
      <span class="total">統計</span>
      <span class="operate">操作</span>
    </li>
    <li class="promotional">
      <div class="products" *ngFor="let product of promotional;let i = index;">
        <div class="promotionalMix" *ngIf="i === 0">
          <span>促銷組合</span><span>任 2 件可享 5%</span>
          <span><a>去看看 ></a></span>
        </div>
        <div class="product">
          <span class="checkBox"><input type="checkbox" /></span>
          <span class="productInfo">
            <img src="./assets/img/logo.svg" />
            <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
          </span>
          <span class="price">
            <span class="discount">$398</span>
            <span>$351</span>
          </span>
          <span class="count">
            <div class="countButton">
              <span>-</span><input value="1" /><span>+</span>
            </div>
          </span>
          <span class="total">$205</span>
          <span class="operate">刪除</span>
        </div>
      </div>
    </li>
    <br><br>
    <li class="products shadow" *ngFor="let product of products">
      <div class="product">
        <span class="checkBox"><input type="checkbox" /></span>
        <span class="productInfo">
          <img src="./assets/img/logo.svg" />
          <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
        </span>
        <span class="price">
          <span>$351</span>
        </span>
        <span class="count">
          <div class="countButton">
            <span>-</span><input value="1" /><span>+</span>
          </div>
        </span>
        <span class="total">$205</span>
        <span class="operate">刪除</span>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <button (click)="template = check">Buy</button>
  </div>
</ng-template>

<!-- Check -->
<ng-template #check>
  check
  creditcard pay
</ng-template>