<header>
  <div class="headerLv-1 container">
    <div class="headerLeft">
      <h1>GET</h1>
      <ul class="classification" [ngClass]="SearchingStyle">
        <li>
          <a href="#"><span>WOMEN</span></a>
        </li>
        <li>
          <a href="#"><span>MEN</span></a>
        </li>
        <li>
          <a href="#"><span>OTHERS</span></a>
        </li>
      </ul>
      <form class="searchForm" [ngClass]="SearchingStyle">
        <button><lib-svg [src]="'./assets/clothes/search.svg'"></lib-svg></button>
        <input type="text" placeholder="Clothes..." (focus)="onSearch($event)" (blur)="upSearch($event)">
      </form>
    </div>
    <div class="headerRight">
      <div class="locationBox">
        <a href="#">
          <lib-svg [src]="'./assets/clothes/location.svg'" [width]="'20'"></lib-svg>
          <span>Taiwan</span>
        </a>
      </div>
      <div class="telBox">
        <a href="#">
          <lib-svg [src]="'./assets/clothes/ig.svg'" [width]="'25'" [className]="'telIcon'"></lib-svg>
          <span>GET.Clothes</span>
        </a>
      </div>
      <ul class="functionList">
        <li><a href="#">
          <lib-svg [src]="'./assets/clothes/user.svg'" [width]="'23'"></lib-svg>
        </a></li>
        <li><a href="#">
          <lib-svg [src]="'./assets/clothes/heart.svg'" [width]="'23'"></lib-svg>
        </a></li>
        <li><a href="#">
          <lib-svg [src]="'./assets/clothes/bag.svg'" [width]="'23'"></lib-svg>
        </a></li>
      </ul>
    </div>
  </div>

  <nav class="headerLv-2 container">
    <ul>
      <li>
        <a href="#" (mouseenter)="headerLv2Hover($event)">
          <span>
            外套/大衣
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            上衣
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            下身
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>
            其他配件
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="categories container">
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
    <li><a href="#"><img src="./assets/clothes/coat.png"><span>所有外套</span></a></li>
  </ul>
</header>
