<header>
  <div class="headerLeft">
    <h1>GET</h1>
    <ul class="classification">
      <li>
        <a href="#"><span>男裝</span></a>
      </li>
      <li>
        <a href="#"><span>女裝</span></a>
      </li>
      <li>
        <a href="#"><span>配件</span></a>
      </li>
    </ul>
    <form class="searchForm">
      <button><lib-svg [src]="'./assets/search.svg'"></lib-svg></button>
      <input>
    </form>
    <div>
      <div>

      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        上衣
      </li>
      <li>
        下身
      </li>
      <li>
        家居睡衣
      </li>
      <li>
        外套/大衣
      </li>
    </ul>
  </nav>
  <div class="categories">

  </div>
</header>
