/* You can add global styles to this file, and also import other style files */

:root {
  &[data-theme='light'] {
    // 請參照 ec style.scss  
  }

  &[data-theme='dark'] {
    * {
      color: white;
      background-color: black;

      button,
      input {
        color: black;
        background-color: white;
      }
    }

    .keyword {
      background-color: yellow;
      color: black;
    }
  }
}

body {
  background: #efefef;
}

.keyword {
  background-color: yellow;
}