/* You can add global styles to this file, and also import other style files */

:root {
  &[data-theme="light"] {
    // 請參照 ec style.scss
  }

  &[data-theme="dark"] {
    * {
      color: white;
      background-color: black;

      button {
        cursor: pointer;
      }

      button,
      input {
        color: black;
        background-color: white;
      }
    }

    .keyword {
      background-color: yellow;
      color: black;
    }

    lib-svg > div > * {
      color: white;
      fill: white;
    }
  }
}

body {
  background: #efefef;
}

.keyword {
  background-color: yellow;
}

lib-svg {
  display: inline-block;
  height: 30px;
  margin: 0 15px;
  cursor: pointer;
  div {
    width: 100%;
    height: 100%;
  }
}

button {
  cursor: pointer;
}
