i {
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

i:hover {
  color: var(--mainColor);
}

.container {
  padding: 5rem;
  display: flex;

  >div {

    width: 33%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    min-height: 15vh;
    align-items: center;
    flex-direction: column;

    >div {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      align-items: center;
    }
  }

  input {
    background-color: var(--subSubColor);
    border: none;
    padding: 1.2rem 1.5rem;
    margin: 0.8rem 0;
    width: 100%;
  }

  .community {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include SmallDevices {
  .container {
    flex-direction: column;
    padding: unset;
    align-items: center;
    > div {
      width: unset;
      margin: 3rem;
    }
  }
}