.rotate {
  animation: spin 2s linear infinite;
  /* 2 秒旋轉一圈，無限循環 */
  transform-origin: center;
  /* 設置旋轉中心為 SVG 中心 */
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
