.categoryList {
  justify-content: center;
}

.categoryList,
.categoryList div {
  display: flex;
}

.categoryList div {
  flex-direction: column;
  margin: 3rem;
  cursor: pointer;
  margin-bottom: 8rem;
}

.categoryList div img {
  width: 50px;
  margin-bottom: 2rem;
}

.productList select {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 2px var(--subSubColor)ce;
}
