<div class="coreThemes">
  <ul class="container">
      <li [routerLink]="['landing/esgMarketing']">
          <img src="./assets/img/logo.svg" />
          <h5>
              <span>Custom</span>
              <span>Packaging</span>
          </h5>
      </li>
      <li [routerLink]="['landing/esgMarketing']">
          <img src="./assets/img/logo.svg" />
          <h5>
              <span>Custom</span>
              <span>Packaging</span>
          </h5>
      </li>
      <li [routerLink]="['landing/esgMarketing']">
          <img src="./assets/img/logo.svg" />
          <h5>
              <span>Custom</span>
              <span>Packaging</span>
          </h5>
      </li>
  </ul>
</div>
