<header>
  <!-- Async Pipe 可以自動退訂閱與優化骯髒檢查 -->
  <ec-call-to-action-at-top [data]="(headerData$ | async)?.callToActionAtTop"></ec-call-to-action-at-top>
  <ec-panel [data]="(headerData$ | async)?.panel"></ec-panel>
  <ec-header-board></ec-header-board>
  <ec-mega-menu-tabs></ec-mega-menu-tabs>
</header>
<main>
  <router-outlet><!-- 根據路由顯示對應元件 --></router-outlet>
</main>
<footer>
  <ec-core-themes></ec-core-themes>
  <ec-marketing-panel></ec-marketing-panel>
  <ec-footer-nav></ec-footer-nav>
  <ec-copy-right></ec-copy-right>
</footer>