<h3>Specifications</h3>
<table>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
  <tr>
    <td>Carton quantity: 2500</td>
    <td>Sleeves per carton: 10</td>
  </tr>
  <tr>
    <td>Units per sleeve: 250</td>
    <td>Carton Size LxWxH (cm): 40.5x17x14</td>
  </tr>
</table>
<h3>Category Details</h3>
<ul>
  <li>BioStraws are made from 3-ply premium grade FSC™️ certified paper. FSC forest management certification confirms
    that the forest is being managed in a way that preserves the natural ecosystem and benefits the lives of local
    people and workers while ensuring it remains economically viable.</li>
  <li>These eco-friendly straws are certified home compostable to European Standards (NF T51-800). Read our blog to find
    out why plastic straws are a problem.</li>
  <li>Our disposable paper straws are an eco-friendly alternative to plastic straws.</li>
</ul>
<div class="featureIcons">
  <img src="./assets/mods/img/logo.svg" />
  <img src="./assets/mods/img/logo.svg" />
  <img src="./assets/mods/img/logo.svg" />
  <img src="./assets/mods/img/logo.svg" />
</div>
