<div class="awardsCarousel">
  <div class="container">
      <h3>分享愛</h3>
      <div class="divider">
          <div></div>
      </div>
      <ul>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
          <li>
              <img src="./assets/img/logo.svg" />
              <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
          </li>
      </ul>
  </div>
</div>
