<div class="footerNav">
  <div class="container">
    <div>
      <h4>{{'Shop Products'| translate}}</h4>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
    </div>
    <div>
      <h4>{{'Shop Products'| translate}}</h4>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
    </div>
    <div>
      <h4>{{'Shop Products'| translate}}</h4>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
    </div>
    <div>
      <h4>{{'Shop Products'| translate}}</h4>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <a>{{'BioPak Catalogue'| translate}}</a>
      <img src="./assets/img/logo.svg" />
    </div>
  </div>
</div>