.footerNav {
  padding: 3rem 0;
}

.footerNav>div {
  display: flex;
  justify-content: space-between;
}

.footerNav>div div {
  display: flex;
  flex-direction: column;
}

.footerNav>div div>h4 {
  font-size: 2rem;
}

.footerNav>div div>a {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--mainColor);
}

.footerNav>div div>img {
  margin-top: 1rem;
  width: 50px;
}
