<h2>4.5mm Cocktail Green BioStraw</h2>
<p class="price">$39.15<span>+GST</span></p>
<p>PER CARTON OF 2,500</p>
<hr>
<p>Quantity (cartons):</p>
<lib-carousel *ngIf="deviceCheckService.isMobile"></lib-carousel>
<div class="count">
  <span>-</span><input value="1" /><span>+</span>
</div>
<button>Buy</button>
<h4>Stock Availability<span>✦</span></h4>
<p>
  <span>WA<span class="inStock">✔</span></span>
  <span>SA<span class="inStock">✔</span></span>
  <span>VIC<span class="inStock">✔</span></span>
  <span>NSW<span class="outOfStock">✘</span></span>
</p>
<hr>
<p>Our 6" compostable spoon is made from a plant-based bioplastic, produced from a rapidly renewable starch. This
  bioplastic spoon has a smaller carbon footprint than conventional plastic. This spoon is certified industrially
  compostable. Australian states are implementing single-use plastic bans. Bioplastic cutlery is banned in SA, ACT,
  WA,
  NSW & VIC.</p>
<button class="normalButton">Product Specs</button>
<hr>
<ec-marketing-products marketingName="Compatible Products" *ngIf="!deviceCheckService.isMobile">
</ec-marketing-products>