<div class="categoriesCarousel">
  <div class="container">
    <span>&lt;</span>
    <ul class="categories">
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Art Series'|translate}}</span>
      </a>
      <a [routerLink]="['category']">
        <img src="./assets/img/logo.svg" />
        <span>{{'Octagonal BioCane'|translate}}</span>
      </a>
    </ul>
    <span>&gt;</span>
  </div>
</div>