<div class="categoriesCarousel">
  <div class="container">
      <span>&lt;</span>
      <ul class="categories">
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Art Series</span>
          </a>
          <a [routerLink]="['category']">
              <img src="./assets/img/logo.svg" />
              <span>Octagonal BioCane</span>
          </a>
      </ul>
      <span>&gt;</span>
  </div>
</div>
