<!-- https://codepen.io/supah/pen/OMdPpW -->

<div class="creditForm">
  <div class="card">
    <div class="creditCard" (click)="rotateCredit()">
      <div class="creditFront" [style.transform]="creditFront">
        <div class="chip"></div>
        <div class="visa">VEESAR</div>
        <div class="cardNumber">{{creditCart.cardNumber[0]}} {{creditCart.cardNumber[1]}} {{creditCart.cardNumber[2]}}
          {{creditCart.cardNumber[3]}}</div>
        <div class="cardInfo">
          <div>
            <span>Holder</span>
            <div>{{creditCart.cardHolder}}</div>
          </div>
          <div>
            <span>Expiration</span>
            <div>{{creditCart.expirationMonth}}/{{creditCart.expirationYear}}</div>
          </div>
        </div>
      </div>
      <div class="creditBack" [style.transform]="creditBack">
        <div class="strip"></div>
        <div class="ccv">
          <span>CCV</span>
          <div>{{creditCart.ccv}}</div>
        </div>
        <div class="visa">VEESAR</div>
      </div>
    </div>
    <form>
      <fieldset class="cardNumber">
        <label>CARD NUMBER</label>
        <input type="num" maxlength="4" name="cardNumber0" [(ngModel)]="creditCart.cardNumber[0]" />
        <input type="num" maxlength="4" name="cardNumber1" [(ngModel)]="creditCart.cardNumber[1]" />
        <input type="num" maxlength="4" name="cardNumber2" [(ngModel)]="creditCart.cardNumber[2]" />
        <input type="num" maxlength="4" name="cardNumber3" [(ngModel)]="creditCart.cardNumber[3]" />
      </fieldset>
      <fieldset class="cardHolder">
        <label for="cardHolder">CARD HOLDER</label>
        <input id="cardHolder" name="cardHolder" maxlength="25" [(ngModel)]="creditCart.cardHolder" />
      </fieldset>
      <div class="cardInfo">
        <fieldset class="expirationDate">
          <label>EXPIRATION DATE</label>
          <select name="expirationMonth" [(ngModel)]="creditCart.expirationMonth">
            <option *ngFor="let month of expirationMonths" [value]="month">{{month}}</option>
          </select>
          <select name="expirationYear" [(ngModel)]="creditCart.expirationYear">
            <option *ngFor="let year of expirationYears" [value]="year">{{year}}</option>
          </select>
        </fieldset>
        <fieldset class="ccv">
          <label for="ccv">CCV</label>
          <input (keydown)="editCCV()" type="num" maxlength="3" id="ccv" name="ccv" [(ngModel)]="creditCart.ccv" />
        </fieldset>
      </div>

      <button [routerLink]="['/thanks']"><i class="fa fa-lock"></i> submit</button>
    </form>
  </div>
</div>