<header>
  <lib-svg [src]="'./assets/scene1.svg'" [style]="'position:absolute;width:100%;'" height="40vh"></lib-svg>
  <nav>
    <div class="logo">Logo</div>
    <ul class="nav">
      <!-- https://stackoverflow.com/questions/8614862/using-focus-pseudo-class-on-li-or-other-element-else-than-a-input-button-etc -->
      <li tabindex="0">Home</li>
      <li tabindex="0">Criação de Sites</li>
      <li tabindex="0">Anunciar no Google</li>
      <li tabindex="0">Redes Sociais</li>
      <li tabindex="0">Sobre</li>
      <li tabindex="0">Contato</li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet><!-- 根據路由顯示對應元件 --></router-outlet>
</main>
<footer>
</footer>