nav {
  position: relative;
  color: azure;
  // padding: 2rem 2rem 0 2rem;
  padding: 0 2rem;
  display: flex;
}

.logo {
  font-size: 5rem;
  width: 20%;
}

.nav {
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;

  li {
    height: 80px;
  }
}

.contentBox {
  position: relative;
  color: azure;
  margin: 15% 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 3px 1px 2px black;
}