<header>
  <lib-svg [src]="'./assets/scene1.svg'" [boxStyle]="'position:absolute;width:100%;z-index:-10000'" height="40vh"></lib-svg>
  <nav>
    <div class="logo" [routerLink]="['']">
      <h1>Logo</h1>
    </div>
    <ul class="nav">
      <!-- https://stackoverflow.com/questions/8614862/using-focus-pseudo-class-on-li-or-other-element-else-than-a-input-button-etc -->
      <li tabindex="0" [routerLink]="['aboutUs']">About Us</li>
      <li tabindex="0" [routerLink]="['howItWorks']">How It Work</li>
      <li tabindex="0" [routerLink]="['ourServices']">Our Services</li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet><!-- 根據路由顯示對應元件 --></router-outlet>
</main>
<footer>
</footer>