nav {
  position: relative;
  color: azure;
  // padding: 2rem 2rem 0 2rem;
  padding: 0 2rem;
  display: flex;
}

.logo {
  font-size: 5rem;
  width: 20%;
}

.nav {
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;

  li {
    display: flex;
    align-items: center;
    height: 80px;
    border-top-color: hsla(0, 0%, 100%, 0);
    border-top-width: 6px;
    border-top-style: solid;
    cursor: pointer;

    &:active {
      color: rgb(255, 0, 0);
    }

    &:hover {
      color: rgb(190, 190, 190);
    }

    &:link {
      color: rgb(135, 135, 135);
    }

    &:visited {
      color: rgb(255, 255, 255);
    }

    &:focus {
      color: rgb(255, 0, 0);
      border-top-color: rgb(255, 0, 0);
      border-top-width: 6px;
      border-top-style: solid;
    }
  }


}