<div class="heroImages" [style.background]="backgroundImg">
  <div class="container">
    <h1>{{'Business or organization by analyzing market demand and customer behavior'|translate}}</h1>
    <p>{{'Digital media and tools, the way of marketing activities, advertising, brand promotion and other activities, a series of marketing and management activities carried out by enterprises or organizations in order to establish and maintain a good relationship with customers, consumers purchase products or services behavioral and psychological traits'|translate}}</p>
    <button class="callToActionButton" [routerLink]="['landing/esgMarketing']">{{'CONTACT NOW'|translate}}</button>
  </div>
</div>