.heroImages {
  cursor: pointer;
  // background-image: url("https://picsum.photos/1860");
  background-position: 50% 50%;
  background-size: cover;
  text-shadow: var(--subSub2Color) 0.1em 0.1em 0.2em;
}

.heroImages div {
  color: var(--subSubColor);
  padding: 10rem 0;
}

.heroImages h1 {
  font-size: 4rem;
  width: 30%;
  margin-bottom: 3rem;
  text-align: left;
}

.heroImages p {
  font-size: 2rem;
  width: 50%;
  margin-bottom: 5rem;
  text-align: left;
}

@include SmallDevices {

  .heroImages {
    padding: 2rem 4rem;

    div {
      padding: unset;
    }

    h1 {
      width: unset;
    }

    p {
      width: unset;
      margin-bottom: 2rem
    }
  }
}