.filter-green {
    filter: invert(67%) sepia(76%) saturate(407%) hue-rotate(93deg) brightness(93%) contrast(95%);
}

.categoryBanner {
    background-color: #0f8346;
    color: white;
}

.categoryBanner * {
    text-align: left;
}

.breadcrumbs {
    margin: 3rem 0;
}

.breadcrumbs>a {
    font-size: 2rem;
}

.categoryBannerLeft,
.categoryBannerRight {
    width: 50%;
    margin: unset;
}

.categoryBanner>div {
    display: flex;
}

.categoryBannerRight>img {
    margin: 30px 200px;
    width: 200px;
    height: 200px;

}

.categoryList {
    justify-content: center;
}

.categoryList,
.categoryList div {
    display: flex;
}

.categoryList div {
    flex-direction: column;
    margin: 3rem;
    cursor: pointer;
    margin-bottom: 8rem;
}

.categoryList div img {
    margin-bottom: 2rem;
}

.productList select {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #f2f2f2ce;
}

.toolBar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #c4c4c4;
    align-items: center;
}

.displayMode i {
    margin: 0 1rem;
    font-size: 3rem;
    cursor: pointer;
}

.filter {
    color: #0f8346;
    cursor: pointer;
}

.products {
    margin-top: 6rem;
    margin-bottom: 5rem;
    column-count: 4;
    column-gap: 5rem;
}

.product {
    padding: 2rem;
}

.product * {
    color: black;
}

.product h2 {
    font-size: 2rem;
}

.product p {
    color: gray
}

.product span {
    color: gray;
    font-size: 3rem;
    font-weight: 900;
    margin: 0 1rem;
    cursor: pointer;
}

.product button {
    color:white;
    border-radius: unset;
}

.product input{
    width: 33px;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    border: unset;
}

.product img {
    width: 150px;
    margin-bottom: 2rem;
}

.product div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: solid 3px #78b54e;
    border-radius: 5px;
}

.loadMore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.loadMore p {
    margin-bottom: 3rem;
}

.loadMore button {
    margin: auto;
}

.categoryDescription h2,
.postersFlyers h2 {
    text-align: center;
    margin: 5rem;
    color: #0f8346;
}

.categoryDescription div,
.postersFlyers div {
    display: flex;
}

.categoryDescription img {
    width: 300px;
    margin-left: 8rem;
}

.categoryDescription .description {
    flex-direction: column;
}

.categoryDescription>div>.description>* {
    text-align: left;
}

.postersFlyers div {
    justify-content: center;
}

.postersFlyers div img {
    width: 150px;
    margin: 3rem;
    margin-bottom: 8rem;
}