.awardsCarousel {
  margin-top: 3.5rem;
}

.divider {
  display: flex;
  justify-content: center;
}

.divider div {
  width: 5%;
  border-bottom: 0.1rem solid gray;
}

.awardsCarousel ul {
  margin: 3rem auto;
  justify-content: space-around;
  display: flex;
  overflow-x: hidden;
}

.awardsCarousel ul li {
  width: 30rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awardsCarousel ul li p {
  color: var(--mainColor);
}

.awardsCarousel ul li img {
  width: 20rem;
  height: auto;
  margin-bottom: 3rem;
}
