<div class="panel">
  <div class="multilevelNav container" [ngClass]="{
    'multilevelNavDisappear':
    deviceCheckService.isMobile && 
    !(multilevelNavDisplay$ | async)
  }">
    <nav class="leftNav">
      <ng-container *ngTemplateOutlet="megaMenu; context: { items: data.leftNav }"></ng-container>
    </nav>
    <!-- <nav class="rightNav">
      <ng-container *ngTemplateOutlet="superMenu; context: { items: data.rightNav }"></ng-container>
    </nav> -->
    <nav class="rightNav">
      <a [routerLink]="['category']" class="level1Nav">{{'SHIPPING' | translate}}</a>
      <a [routerLink]="['category']" class="level1Nav">{{'CONTACT' | translate}}</a>
      <ul>
        <a class="level1Nav">{{'DISPOSAL' | translate}}</a>
        <ul class="level2Nav">
          <a [routerLink]="['category']">{{'Bring' | translate}}</a>
          <ul>
            <a [routerLink]="['category']">{{'Deliver' | translate}}</a>
            <ul class="level3Nav">
              <a [routerLink]="['category']">{{'Express' | translate}}</a>
              <a [routerLink]="['category']">{{'Package' | translate}}</a>
            </ul>
          </ul>
          <a [routerLink]="['category']">{{'Package' | translate}}</a>
          <a [routerLink]="['category']">{{'Express' | translate}}</a>
        </ul>
      </ul>
      <a [routerLink]="['category']" class="level1Nav">{{'ABOUT' | translate}}</a>
      <ul>
        <a class="level1Nav" (click)="ChangeLang(GetActive())">{{GetActive()}}</a>
        <ul class="level2Nav">
          <a *ngFor="let lang of GetPassive()" (click)="ChangeLang(lang)">
            {{lang}}
          </a>
        </ul>
      </ul>
      <ng-container *ngIf="themeService.GetTheme() == Theme.light else dark">
        <a class="level1Nav" (click)="themeService.SetTheme(Theme.light);"><i class="fa-solid fa-sun"></i></a>
        <a class="level1Nav" (click)="themeService.SetTheme(Theme.dark)"><i class="fa-regular fa-moon"></i></a>
      </ng-container>
      <ng-template #dark>
        <a class="level1Nav" (click)="themeService.SetTheme(Theme.light)"><i class="fa-regular fa-sun"></i></a>
        <a class="level1Nav" (click)="themeService.SetTheme(Theme.dark)"><i class="fa-solid fa-moon"></i></a>
      </ng-template>
    </nav>
  </div>
</div>

<ng-template #megaMenu let-items="items">
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="!item.children else chirld">
      <a [ngClass]="{'level1Nav':item.level === 'level1Nav'}" [routerLink]="[item.link]">{{item.name | translate}}</a>
    </ng-container>
    <ng-template #chirld>
      <ul>
        <a [ngClass]="{'level1Nav':item.level === 'level1Nav'}" [routerLink]="[item.link]">{{item.name | translate}}</a>
        <ul [attr.class]="item.children[0].level">
          <ng-container *ngTemplateOutlet="megaMenu; context: { items: item.children }"></ng-container>
        </ul>
      </ul>
    </ng-template>
  </ng-container>
</ng-template>

<!-- <div class="panel">
  <div class="multilevelNav container">
    <nav class="leftNav">
      <a [routerLink]="['category']" class="level1Nav">CUSTOM PACKAGING</a>
      <ul>
        <a [routerLink]="['category']" class="level1Nav">SHOP INDUSTRY</a>
        <ul class="level2Nav">
          <a [routerLink]="['category']">Bring</a>
          <a [routerLink]="['category']">Deliver</a>
          <ul>
            <a [routerLink]="['category']">Package</a>
            <ul class="level3Nav">
              <a [routerLink]="['category']">Bring</a>
              <a [routerLink]="['category']">Express</a>
              <a [routerLink]="['category']">Package</a>
              <a [routerLink]="['category']">Deliver</a>
            </ul>
          </ul>
          <a [routerLink]="['category']">Express</a>
        </ul>
      </ul>
      <a [routerLink]="['category']" class="level1Nav">PLASTIC BANS</a>
    </nav>
    <nav class="rightNav">
      <a [routerLink]="['category']" class="level1Nav">SHIPPING</a>
      <a [routerLink]="['category']" class="level1Nav">CONTACT</a>
      <ul>
        <a class="level1Nav">DISPOSAL</a>
        <ul class="level2Nav">
          <a [routerLink]="['category']">Bring</a>
          <ul>
            <a [routerLink]="['category']">Deliver</a>
            <ul class="level3Nav">
              <a [routerLink]="['category']">Express</a>
              <a [routerLink]="['category']">Package</a>
            </ul>
          </ul>
          <a [routerLink]="['category']">Package</a>
          <a [routerLink]="['category']">Express</a>
        </ul>
      </ul>
      <a [routerLink]="['category']" class="level1Nav">ABOUT</a>
      <ul>
        <a [routerLink]="['category']" class="level1Nav">EN</a>
        <ul class="level2Nav">
          <a [routerLink]="['category']">繁體</a>
          <a [routerLink]="['category']">简体</a>
          <a [routerLink]="['category']">日本語</a>
          <a [routerLink]="['category']">แบบไทย</a>
        </ul>
      </ul>
    </nav>
  </div>
</div> -->