<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet">
    <link href="./assets/css/all.css" rel="stylesheet">
    <link href="./assets/css/category.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="callToActionAtTop">
            <span>King's Birthday 2023 Delivery Details
                <a href="#">Read More</a>
            </span>
        </div>
        <div class="panel">
            <div class="multilevelNav container">
                <nav class="leftNav">
                    <a href="#" class="level1Nav">
                        CUSTOM PACKAGING
                    </a>
                    <ul>
                        <a href="#" class="level1Nav">SHOP INDUSTRY</a>
                        <ul class="level2Nav">
                            <a href="#">Bring</a>
                            <a href="#">Deliver</a>
                            <ul>
                                <a href="#">Package</a>
                                <ul class="level3Nav">
                                    <a href="#">Bring</a>
                                    <a href="#">Express</a>
                                    <a href="#">Package</a>
                                    <a href="#">Deliver</a>
                                </ul>
                            </ul>
                            <a href="#">Express</a>
                        </ul>
                    </ul>
                    <a href="#" class="level1Nav">PLASTIC BANS</a>
                </nav>
                <nav class="rightNav">
                    <a href="#" class="level1Nav">SHIPPING</a>
                    <a href="#" class="level1Nav">CONTACT</a>
                    <ul>
                        <a class="level1Nav">DISPOSAL</a>
                        <ul class="level2Nav">
                            <a href="#">Bring</a>
                            <ul>
                                <a href="#">Deliver</a>
                                <ul class="level3Nav">
                                    <a href="#">Express</a>
                                    <a href="#">Package</a>
                                </ul>
                            </ul>
                            <a href="#">Package</a>
                            <a href="#">Express</a>
                        </ul>
                    </ul>
                    <a href="#" class="level1Nav">ABOUT</a>
                    <ul>
                        <a href="#" class="level1Nav">EN</a>
                        <ul class="level2Nav">
                            <a href="#">繁體</a>
                            <a href="#">简体</a>
                            <a href="#">日本語</a>
                            <a href="#">แบบไทย</a>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="headerBoard">
            <div class="container">
                <div class="logoBox">
                    <img src="./assets/img/logo.png" class="logo" />
                    <h1>SMART DIGEST</h1>
                </div>
                <div class="searchBar">
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                    </a>
                    <input type="text" placeholder="Search Entire store here..." />
                </div>
                <div class="iconButtonBox">
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>FAQ</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Catalogue</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>FAQ</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="megaMenuTabs">
            <ul class="container">
                <a href="#">Cups</a>
                <a href="#">Containers & Lids </a>
                <a href="#">Plates & Trays </a>
                <a href="#">Cutlery & Straws </a>
                <a href="#">Bags </a>
                <a href="#">Napkins & Washroom </a>
                <a href="#">Retail</a>
            </ul>
        </div>
    </header>

    <main>
        <div class="categoryBanner">
            <div class="container">
                <div class="categoryBannerLeft">
                    <div class="breadcrumbs">
                        <a>Home</a> > <a>Bags</a>
                    </div>
                    <div>
                        <h2>BAGS</h2>
                        <p>BioPak takeaway bags are an environmentally friendly alternative to plastic bags. Make a
                            sustainable
                            switch by swapping out your conventional plastic takeaway bags for these compostable and
                            recyclable
                            bags. These disposable bags are home compostable and are designed to biodegrade without any
                            toxic
                            residues, leaving the planet in a healthier place. Custom printing available for printed
                            takeaway
                            bags</p>
                    </div>
                </div>
                <div class="categoryBannerRight">
                    <img src="./assets/img/logo.svg" class="filter-green" />
                </div>
            </div>
        </div>
        <div class="categoryList">
            <div>
                <img src="./assets/img/logo.svg" />
                <span>BioCane1</span>
            </div>
            <div>
                <img src="./assets/img/logo.svg" />
                <span>BioCane2</span>
            </div>
            <div>
                <img src="./assets/img/logo.svg" />
                <span>BioCane3</span>
            </div>
        </div>
        <div class="productList">
            <div class="toolBar container">
                <div class="filter">
                    <i class="fa-solid fa-filter"></i>
                    <span>Show Filter</span>
                </div>
                <div class="displayMode">
                    <i class="fa-solid fa-grip"></i>
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>
                    <!-- https://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box -->
                    <!-- https://codepen.io/druArt/pen/BWONQp -->
                    <select>
                        <option disabled selected>Soft By</option>
                        <option>Default</option>
                        <option>Price</option>
                    </select>
                </div>
            </div>
            <div class="products container">
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>
                <div class="product">
                    <a href="#">
                        <img src="./assets/img/logo.svg" />
                        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
                        <p>$100</p>
                    </a>
                    <div>
                        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
                    </div>
                </div>

            </div>
            <div class="loadMore">
                <p>You have viewed 12 of 62 Products.</p>
                <button>Load More</button>
            </div>
        </div>
        <hr class="container">
        <div class="categoryDescription container">
            <h2>Disposable Bowls That Are Better for the Planet</h2>
            <div>
                <div class="description">
                    <p>Serving food to consumers on the go? Disposable bowls offer a convenient way to package your
                        delicious food beautifully and hygienically. Our takeaway food bowls, known as BioBowls, are
                        available in sustainable materials like plastic-free sugarcane bagasse, paper, and
                        plant-based bioplastic.</p>
                    <h3>Why BioPak Bowls Are Better</h3>
                    <p>Takeaway convenience usually comes at a cost to the earth, with conventional single-use
                        service ware like disposable food bowls often made from old-growth forests or fossil fuels.
                        After their short useful life of 20 minutes, conventional plastic bowls usually end up in
                        landfill, where they take hundreds of years to break down and release greenhouse gases in
                        the process.</p>
                    <p>Our BioBoard and clear bioplastic bowls are certified industrially compostable to Australian
                        AS4736 standards and will break down in an industrial composting environment. This means if
                        you have any leftovers or you’ve just enjoyed a nice curry in your bowl – no need to wash it
                        out, food and packaging can both be composted! Composting is a great way to reduce food
                        waste and our greenhouse gas emissions, as food in a landfill does not have the proper
                        conditions to break down and instead produces methane – a potent greenhouse gas. </p>
                </div>
                <img src="./assets/img/logo.png" />
            </div>
        </div>
        <div class="postersFlyers container">
            <h2>Posters and Flyers</h2>
            <div>
                <img src="./assets/img/logo.png" />
                <img src="./assets/img/logo.png" />
                <img src="./assets/img/logo.png" />
            </div>
        </div>
    </main>

    <footer>
        <div class="coreThemes">
            <ul class="container">
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="marketingPanel">
            <div class="container">
                <div class="left">
                    <h4>Be the First to Know</h4>
                    <p>Sign up for the latest product news, sustainability trends and eco tips.</p>
                </div>
                <div class="center">
                    <div>
                        <input placeholder="Email Address" />
                        <button>Submit</button>
                    </div>
                    <p>For more information on our privacy best practices, please review our</p>
                    <a href="#">privacy policy</a>
                </div>
                <div class="right">
                    <span>Follow Us On Social</span>
                    <div>
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footerNav">
            <div class="container">
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <img src="./assets/img/logo.png" />
                </div>
            </div>
        </div>
        <div class="copyRight">
            <span>Copyright © 2022 BioPak. All rights reserved (FSC™ C110879).</span>
            <a>Terms & Conditions </a>
            <a>Privacy Policy</a>
            <a>Cookie Preferences</a>
        </div>
    </footer>
</body>

</html>