<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet">
    <!-- <link href="./assets/css/all.css" rel="stylesheet"> -->
    <style>
        header,
        main,
        footer {
            border: 2px solid red;
            margin: 2rem;
        }

        header>div,
        main>div,
        footer>div {
            border: 2px solid blue;
            margin: 1rem;
        }

        img {
            width: 50px;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="callToActionAtTop">
            <span>King's Birthday 2023 Delivery Details
                <a href="#">Read More</a>
            </span>
        </div>
        <div class="panel">
            <div class="multilevelNav container">
                <nav class="leftNav">
                    <a href="#" class="level1Nav">
                        CUSTOM PACKAGING
                    </a>
                    <ul>
                        <a href="#" class="level1Nav">SHOP INDUSTRY</a>
                        <ul class="level2Nav">
                            <a href="#">Bring</a>
                            <a href="#">Deliver</a>
                            <ul>
                                <a href="#">Package</a>
                                <ul class="level3Nav">
                                    <a href="#">Bring</a>
                                    <a href="#">Express</a>
                                    <a href="#">Package</a>
                                    <a href="#">Deliver</a>
                                </ul>
                            </ul>
                            <a href="#">Express</a>
                        </ul>
                    </ul>
                    <a href="#" class="level1Nav">PLASTIC BANS</a>
                </nav>
                <nav class="rightNav">
                    <a href="#" class="level1Nav">SHIPPING</a>
                    <a href="#" class="level1Nav">CONTACT</a>
                    <ul>
                        <a class="level1Nav">DISPOSAL</a>
                        <ul class="level2Nav">
                            <a href="#">Bring</a>
                            <ul>
                                <a href="#">Deliver</a>
                                <ul class="level3Nav">
                                    <a href="#">Express</a>
                                    <a href="#">Package</a>
                                </ul>
                            </ul>
                            <a href="#">Package</a>
                            <a href="#">Express</a>
                        </ul>
                    </ul>
                    <a href="#" class="level1Nav">ABOUT</a>
                    <ul>
                        <a href="#" class="level1Nav">EN</a>
                        <ul class="level2Nav">
                            <a href="#">繁體</a>
                            <a href="#">简体</a>
                            <a href="#">日本語</a>
                            <a href="#">แบบไทย</a>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="logoBox">
                    <img src="./assets/img/logo.png" class="logo" />
                    <h1>SMART DIGEST</h1>
                </div>
                <div class="searchBar">
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                    </a>
                    <input type="text" placeholder="Search Entire store here..." />
                </div>
                <div class="iconButtonBox">
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>FAQ</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Catalogue</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>FAQ</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="megaMenuTabs">
            <ul class="container">
                <a href="#">Cups</a>
                <a href="#">Containers & Lids </a>
                <a href="#">Plates & Trays </a>
                <a href="#">Cutlery & Straws </a>
                <a href="#">Bags </a>
                <a href="#">Napkins & Washroom </a>
                <a href="#">Retail</a>
            </ul>
        </div>
    </header>

    <main>
        <div class="heroImages">
            <div class="container">
                <h1>業或組織通過分析市場需求和客戶行為，制定相應的行銷策略和方案，以達到經營目標的過程</h1>
                <p>數位媒介和工具，進行行銷活動、廣告投放、品牌推廣等活動的方式，企業或組織為了建立和維護與客戶之間的良好關係，進行的一系列行銷和管理活動，消費者在購買產品或服務時所表現出的行為和心理特徵</p>
                <button class="callToActionButton">立即聯絡</button>
            </div>
        </div>
        <div class="categoriesCarousel">
            <div class="container">
                <span>&lt;</span>
                <ul class="categories">
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Art Series</span>
                    </a>
                    <a href="#">
                        <img src="./assets/img/logo.png" />
                        <span>Octagonal BioCane</span>
                    </a>
                </ul>
                <span>&gt;</span>
            </div>
        </div>
        <div class="benefits">
            <div class="container">
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Packaging Made</span>
                        <span>From Plants</span>
                    </h3>
                    <p>Designed for the circular economy where resources are reused and not wasted.</p>
                </div>
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Packaging Made</span>
                        <span>From Plants</span>
                    </h3>
                    <p>Designed for the circular economy where resources are reused and not wasted.</p>
                </div>
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Packaging Made</span>
                        <span>From Plants</span>
                    </h3>
                    <p>Designed for the circular economy where resources are reused and not wasted.</p>
                </div>
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Packaging Made</span>
                        <span>From Plants</span>
                    </h3>
                    <p>Designed for the circular economy where resources are reused and not wasted.</p>
                </div>
            </div>
        </div>
        <div class="marketingArticles">
            <div class="container">
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>免費次日送達</h3>
                    <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    <a href="#">Read more</a>
                </div>
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>免費次日送達</h3>
                    <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    <a href="#">Read more</a>
                </div>
                <div>
                    <img src="./assets/img/logo.png" />
                    <h3>免費次日送達</h3>
                    <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>
        <div class="marketingViedo">
            <div class="container">
                <div>
                    <h3>開始堆肥</h2>
                        <p>將食品和包裝從垃圾填埋場轉移出來並扭轉氣候變化。只需搜索您的郵政編碼並找到當地的堆肥器，然後開始製作營養豐富的堆肥。</p>
                        <button>加入堆肥連接</button>
                </div>
                <video controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
        <div class="instagramCarousel">
            <h3>Share the Love</h3>
            <ul>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
                <li><img src="./assets/img/logo.png" /></li>
            </ul>
        </div>
        <div class="awardsCarousel">
            <div class="container">
                <h3>分享愛</h3>
                <div class="divider">
                    <div></div>
                </div>
                <ul>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                    <li>
                        <img src="./assets/img/logo.png" />
                        <p>四箱或以上免費送貨，次日送達大多數都市區。</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <div class="coreThemes">
            <ul class="container">
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
                <li>
                    <img src="./assets/img/logo.png" />
                    <h3>
                        <span>Custom</span>
                        <span>Packaging</span>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="marketingPanel">
            <div class="container">
                <div class="left">
                    <h4>Be the First to Know</h4>
                    <p>Sign up for the latest product news, sustainability trends and eco tips.</p>
                </div>
                <div class="center">
                    <div>
                        <input placeholder="Email Address" />
                        <button>Submit</button>
                    </div>
                    <p>For more information on our privacy best practices, please review our</p>
                    <a href="#">privacy policy</a>
                </div>
                <div class="right">
                    <span>Follow Us On Social</span>
                    <div>
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                        <img src="./assets/img/logo.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footerNav">
            <div class="container">
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                </div>
                <div>
                    <h4>Shop Products</h4>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <a>BioPak Catalogue</a>
                    <img src="./assets/img/logo.png" />
                </div>
            </div>
        </div>
        <div class="copyRight">
            <span>Copyright © 2022 BioPak. All rights reserved (FSC™ C110879).</span>
            <a>Terms & Conditions </a>
            <a>Privacy Policy</a>
            <a>Cookie Preferences</a>
        </div>
    </footer>
</body>

</html>