// // https://stackoverflow.com/questions/39740527/how-to-access-global-sass-mixin-function-in-angular2-individual-component
// 有設置 sass-resources-loader 會自動 import 名為 _global.scss 的檔案，目前抽到 lib 專案內

// https://stackoverflow.com/questions/70481841/angular-global-variables-on-styles-scss-to-share-among-all-components
// :root 是 CSS 中的一個伪类，它匹配文档树的根元素。在 HTML 中，根元素是 <html> 元素，因此 :root 选择器通常用于设置全局的 CSS 变量
// 使用方式　var(--subSub3Color)

:root {
  &[data-theme='light'] {
    // https://stackoverflow.com/questions/45381871/how-to-customize-arrow-buttons-in-swiper
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
    --mainColor: #854eb5;
    --subColor: #ff621e;
    --subSubColor: #ececec;
    --subSub2Color: #000000;
    --subSub3Color: #888;
    --subSub4Color: #2d2d2d;
    --subSub5Color: #f7f7f7;
    --subSub6Color: #e6e6e6;
    --subSub7Color: black;
    --subSub8Color: rgba(0, 0, 0, .25);
  }

  &[data-theme='dark'] {
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
    --mainColor: #0E8388;
    --subColor: #2E4F4F;
    --subSubColor: #525a5a;
    --subSub2Color: #000000;
    --subSub3Color: #888;
    --subSub4Color: #2C3333;
    --subSub5Color: #CBE4DE;
    --subSub6Color: #1d1d1d;
    --subSub7Color: white;
    --subSub8Color: rgba(255, 255, 255, 0.25);
  }
}

html {

  // https://stackoverflow.com/questions/28988445/css-62-5-why-do-developers-use-it
  font-size: 62.5%;

  &[data-theme='dark'] {
    background-color: var(--subSub4Color);
  }

  &[data-theme='dark'] * {
    color: white;
    text-shadow: 0.1rem 0.1rem black;
  }
}

header {
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--subSubColor);
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 24rem;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: var(--mainColor);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border: none;
  color: var(--subSubColor);
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}

h4 {
  margin-top: 1.5rem;
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h5 {
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

hr {
  margin: 2rem 0;
}

img {
  width: 100%;
  height: auto;
}

.normalButton {
  background-color: unset;
  color: var(--subSub2Color);
  border: solid 0.1rem var(--subSub2Color);
}

.countButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.3rem var(--mainColor);
  border-radius: 0.5rem;

  span {
    color: var(--subSub3Color);
    font-size: 3rem;
    font-weight: 900;
    margin: 0 1rem;
    cursor: pointer;
  }

  input {
    width: 3.3rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    border: unset;
  }

  button {
    color: var(--subSubColor);
    border-radius: unset;
    font-weight: 900;
  }
}

ec-panel {
  order: 3;
  box-shadow: 0 6px 6px var(--subSub8Color);
}

ec-header-board {
  order: 2;
}

@include LargeDevices {}

@include MediumDevices {}

@include SmallDevices {

  body {
    padding-top: 12.5rem;
  }

  ec-header-board {
    box-shadow: 0 6px 6px var(--subSub8Color);
  }
}

// @include ExtraSmallDevices {

// }