@import "_global.scss";

html {

  // https://stackoverflow.com/questions/28988445/css-62-5-why-do-developers-use-it
  font-size: 62.5%;

  &[data-theme='dark'] {
    background-color: var(--subSub4Color);
  }

  &[data-theme='dark'] * {
    color: white;
    text-shadow: 0.1rem 0.1rem black;
  }
}

header {
  top:0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--subSubColor);
  display: flex;
  flex-direction: column;
}

ec-panel{
  order:3;
  box-shadow: 0 6px 6px var(--subSub8Color);
}

ec-header-board{
  order:2;
}

body {
  padding-top: 24rem;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: var(--mainColor);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  border: none;
  color: var(--subSubColor);
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}

h4 {
  margin-top: 1.5rem;
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h5 {
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

hr {
  margin: 2rem 0;
}

img {
  width: 100%;
  height: auto;
}

.normalButton {
  background-color: unset;
  color: var(--subSub2Color);
  border: solid 0.1rem var(--subSub2Color);
}

.countButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.3rem var(--mainColor);
  border-radius: 0.5rem;

  span {
    color: var(--subSub3Color);
    font-size: 3rem;
    font-weight: 900;
    margin: 0 1rem;
    cursor: pointer;
  }

  input {
    width: 3.3rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    border: unset;
  }

  button {
    color: var(--subSubColor);
    border-radius: unset;
    font-weight: 900;
  }
}

/* Default max-width for extra large devices */
.container {
  width: 100%;
  max-width: 124rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@include LargeDevices {
  .container {
    max-width: 96rem;
  }
}

@include MediumDevices {
  .container {
    max-width: 72rem;
  }
}

@include SmallDevices {

  body {
    padding-top: 12.5rem;
  }

  .container {
    // max-width: 54rem;
    max-width: none;
    padding-right: unset;
    padding-left: unset;
    margin-right: unset;
    margin-left: unset;
  }

  ec-header-board{
    box-shadow: 0 6px 6px var(--subSub8Color);
  }
}

// @include ExtraSmallDevices {
//   .container {
//     max-width: none;
//   }
// }