/* You can add global styles to this file, and also import other style files */

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;
}

main {
  padding-top: 24rem;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: #78b54e;
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 10px 30px;
  border: none;
  color: white;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  /* Default max-width for extra large devices */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199.98px) {

  /* Reduce max-width for large devices */
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {

  /* Reduce max-width for medium devices */
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {

  /* Reduce max-width for small devices */
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {

  /* Remove max-width for extra small devices */
  .container {
    max-width: none;
  }
}