<div style="padding:5rem">

  <button type="button"
    (click)="masonry='border:solid 8px red;columns: 3 10px;';brick='margin:2rem;';template = columnsEle">Columns</button>
  <button type="button" (click)="
    masonry='border:solid 8px red;display: flex; flex-wrap: wrap; justify-content: space-between;';
    brick='margin:2rem;max-width: calc(33.33% - 10px);margin-bottom: 10px;';
    template = flexEle
  ">Flex</button>
  <button type="button"
    (click)="masonry='border:solid 8px red;display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 10px;';brick='margin:2rem;';template = gridEle">Grid</button>

  <br><br><br>

  <h2>Masonry：{{masonry}}</h2>

  <h2>Brick：{{brick}}</h2>

  <br><br>

  <p>使用 margin 需要注意，margin 是針對容器的，兩個 mg 會互相合併為一個，但特別的是列 ( columns ) 之間會互相重疊導致不規則的跑版。</p>
  <a href="https://www.w3schools.com/cssref/css3_pr_columns.php">w3schools columns</a>
  <p>如要使用 column 需使用 column-gap 決定列之間的間隙大小，並透過 padding 調整容器。</p>
  <br>
  <p>flex 則是需計算容器間格大小需要預先設定 width 或 max-width 透過內容撐開大小</p>
  <p>Grid 則是需注意瀏覽器兼融性</p>

  <br><br><br><br><br>

  <div [style]="masonry">
    <ng-container *ngFor="let item of items">
      <div [style]="brick+item.color">
        <div class="cardHead">cardHead</div>
        <div class="cardBody">cardBody:{{item.color}}</div>
        <div class="cardFoot">cardFoot</div>
      </div>
    </ng-container>
  </div>

</div>