a {
  color: azure;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h5 {
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

// https://stackoverflow.com/questions/50011614/overflow-hidden-on-an-absolute-positioned-svg
body {
  overflow-x: hidden;
}

// .scene1{
//   path {
//     fill:red;
//   }
// }