<div class="container">
  <ec-esg-banner></ec-esg-banner>
  <div class="text-box-first">
    <h5 class="text-center">5% of Profits Donated to Positive Change</h5>
    <p class="text-center">As a profit for purpose business, we are driven to preserve and protect the environment and give back to the communities we live in. We started the BioPak Give Back Fund in 2012 and since have dedicated our time, energy and a total of $3,659,190.</p>
  </div>
  <div class="text-box-second">
    <h5 class="text-center">How It Works</h5>
    <p class="text-center">As a profit for purpose business, we are driven to preserve and protect the environment and give back to the communities we live in. We started the BioPak Give Back Fund in 2012 and since have dedicated our time, energy and a total of $3,659,190.</p>
  </div>
</div>
