.text-box-first {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  padding: 60px 10px 65px;
}

.text-center {
  text-align: center;
}

h5 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--mainColor);
}

p {
  font-size: 2rem;
  line-height: 28px;
}

.card-list {
  display: flex;
}
