<div class="panel">
  <div class="multilevelNav container">
      <nav class="leftNav">
          <a href="#" class="level1Nav">
              CUSTOM PACKAGING
          </a>
          <ul>
              <a href="#" class="level1Nav">SHOP INDUSTRY</a>
              <ul class="level2Nav">
                  <a href="#">Bring</a>
                  <a href="#">Deliver</a>
                  <ul>
                      <a href="#">Package</a>
                      <ul class="level3Nav">
                          <a href="#">Bring</a>
                          <a href="#">Express</a>
                          <a href="#">Package</a>
                          <a href="#">Deliver</a>
                      </ul>
                  </ul>
                  <a href="#">Express</a>
              </ul>
          </ul>
          <a href="#" class="level1Nav">PLASTIC BANS</a>
      </nav>
      <nav class="rightNav">
          <a href="#" class="level1Nav">SHIPPING</a>
          <a href="#" class="level1Nav">CONTACT</a>
          <ul>
              <a class="level1Nav">DISPOSAL</a>
              <ul class="level2Nav">
                  <a href="#">Bring</a>
                  <ul>
                      <a href="#">Deliver</a>
                      <ul class="level3Nav">
                          <a href="#">Express</a>
                          <a href="#">Package</a>
                      </ul>
                  </ul>
                  <a href="#">Package</a>
                  <a href="#">Express</a>
              </ul>
          </ul>
          <a href="#" class="level1Nav">ABOUT</a>
          <ul>
              <a href="#" class="level1Nav">EN</a>
              <ul class="level2Nav">
                  <a href="#">繁體</a>
                  <a href="#">简体</a>
                  <a href="#">日本語</a>
                  <a href="#">แบบไทย</a>
              </ul>
          </ul>
      </nav>
  </div>
</div>