.product {
  padding: 2rem;
}

.product * {
  color: black;
}

.product h2 {
  font-size: 2rem;
}

.product p {
  color: gray
}

.product span {
  color: gray;
  font-size: 3rem;
  font-weight: 900;
  margin: 0 1rem;
  cursor: pointer;
}

.product button {
  color:white;
  border-radius: unset;
}

.product input{
  width: 33px;
  height: 3rem;
  font-size: 2.5rem;
  text-align: center;
  border: unset;
}

.product img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 2rem;
}

.product div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border: solid 3px #78b54e;
  border-radius: 5px;
}