
header{
  display: flex;
  width: 1900px;
  padding: 1.6rem 40px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  h1{
    font-weight: 900;
    font-size: 60px;
    margin-right: 3.125rem;
  }
}
.headerLeft{
  display: flex;
  align-items: center;

}

.classification{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7rem;
  li{
    margin: 0 2rem;
    a{
      position: relative;
      color: black;
      text-decoration: none;
      font-size: 1.6rem ;
      &:before{
        content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    background: url('/assets/scrollDown.svg') 0 0 no-repeat;
    // background url 路徑issue: https://itecnote.com/tecnote/angular-unable-to-use-assets-in-url-in-scss-after-upgrading-to-angular-10/
    background-size: contain;
      }
    }
  }
}

.searchForm{
  border: 1px solid black;
  border-radius: 32px;
  height: 55px;
  position: relative;
  button{
    cursor: pointer;
    width: 50px;
    top: 10px;
    left: 5px;
    position: absolute;
    border: none;
    background-color: transparent;
  }
  input{
    width:450px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    outline: none;
    padding: 0 30px 0 60px;
    font-size: 2rem;
    overflow: hidden;
  }
}
