.marketingPanel {
  background-color: var(--subSub5Color);
  padding: 3rem 0;
}

.marketingPanel>div {
  justify-content: space-between;
}

.marketingPanel div,
.marketingPanel div div {
  display: flex;
}

.marketingPanel .left,
.marketingPanel .center {
  flex-direction: column;
}

.marketingPanel .left {
  width: 30%;
}

.marketingPanel .left>p {
  text-align: left;
}

.marketingPanel .right {
  align-items: center;
}

.marketingPanel .right img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.marketingPanel .right>span {
  font-size: 2rem;
  font-weight: 900;
  margin-right: 1.5rem;
}

.marketingPanel .center>p {
  margin-top: 1rem;
  font-size: 0.5rem;
  text-align: left;
}

.marketingPanel .center>a {
  color: var(--mainColor);
}

.marketingPanel .center input {
  background-color: var(--subSubColor);
  border-color: var(--subSubColor);
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 0.1rem;
  line-height: 1.92rem;
  padding: 0 12rem 0 1.5rem;
  width: 100%;
}

.marketingPanel .center button {
  border-radius: unset;
}

.marketingPanel h4 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
