<div class="marketingPanel">
  <div class="container">
      <div class="left">
          <h4>{{'Be the First to Know'|translate}}</h4>
          <p>{{'Sign up for the latest product news, sustainability trends and eco tips.'|translate}}</p>
      </div>
      <div class="center">
          <div>
              <input placeholder="Email Address" />
              <button>{{'Submit'|translate}}</button>
          </div>
          <p>{{'For more information on our privacy best practices, please review our'|translate}}</p>
          <a href="#">{{'privacy policy'|translate}}</a>
      </div>
      <div class="right">
          <span>{{'Follow Us On Social'|translate}}</span>
          <div>
              <img src="./assets/img/logo.svg" />
              <img src="./assets/img/logo.svg" />
              <img src="./assets/img/logo.svg" />
              <img src="./assets/img/logo.svg" />
              <img src="./assets/img/logo.svg" />
          </div>
      </div>
  </div>
</div>
