.instagramCarousel {
  padding: 5rem 0;
  background-color: var(--subSub5Color);
}

.instagramCarousel h3 {
  color: var(--mainColor);
  font-size: 3.5rem;
}

.instagramCarousel ul {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.instagramCarousel ul img {
  width: 300px;
  height: 150px;
  margin: 0 2rem;
  background-color: var(--subSubColor);
}
