.mainContent {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 65%;
}

ec-add-to-bag {
  width: 30%;
}

ec-marketing-products {
  margin-bottom: 2rem;
}

@include SmallDevices {

  .mainContent {
    flex-direction: column;
  }

  ec-add-to-bag {
    width: unset;
    padding: 2rem;
  }

  ec-product-details,
  ec-marketing-products,
  ec-marketing-products {
    padding: 2rem;
  }

  ec-marketing-products {
    display: flex;
    flex-direction: column;
  }
}