// https://stackoverflow.com/questions/70481841/angular-global-variables-on-styles-scss-to-share-among-all-components
// https://stackoverflow.com/questions/45381871/how-to-customize-arrow-buttons-in-swiper

// :root 是 CSS 中的一個伪类，它匹配文档树的根元素。在 HTML 中，根元素是 <html> 元素，因此 :root 选择器通常用于设置全局的 CSS 变量
:root {
  &[data-theme='light'] {
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
    --mainColor: #854eb5;
    --subColor: #ff621e;
    --subSubColor: #ececec;
    --subSub2Color: #000000;
    --subSub3Color: #888;
    --subSub4Color: #2d2d2d;
    --subSub5Color: #f7f7f7;
    --subSub6Color: #e6e6e6;
  }

  &[data-theme='dark'] {
    --swiper-navigation-color: #ffffff;
    --swiper-pagination-color: #ffffff;
    --mainColor: #0E8388;
    --subColor: #2E4F4F;
    --subSubColor: #525a5a;
    --subSub2Color: #000000;
    --subSub3Color: #888;
    --subSub4Color: #2C3333;
    --subSub5Color: #CBE4DE;
    --subSub6Color: #1d1d1d;
  }
}

// var(--subSub3Color)
