.coreThemes {
  padding: 5rem 0;
  background-color: var(--subSub6Color);
}

.coreThemes ul {
  display: flex;
  justify-content: space-between;
}

.coreThemes ul li {
  padding: 5rem 1rem;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  cursor:pointer;
}

.coreThemes ul li h3 {
  color: var(--subSubColor);
  margin-bottom: unset;
  margin-left: 1rem;
}

.coreThemes img {
  width: 5rem;
}
