<div class="instagramCarousel">
  <h3>{{'Share the Love'|translate}}</h3>
  <ul>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
    <li><img src="./assets/mods/img/logo.svg" /></li>
  </ul>
</div>
