<div class="categoryDescription container">
  <h2>Disposable Bowls That Are Better for the Planet</h2>
  <div>
      <div class="description">
          <p>Serving food to consumers on the go? Disposable bowls offer a convenient way to package your
              delicious food beautifully and hygienically. Our takeaway food bowls, known as BioBowls, are
              available in sustainable materials like plastic-free sugarcane bagasse, paper, and
              plant-based bioplastic.</p>
          <h3>Why BioPak Bowls Are Better</h3>
          <p>Takeaway convenience usually comes at a cost to the earth, with conventional single-use
              service ware like disposable food bowls often made from old-growth forests or fossil fuels.
              After their short useful life of 20 minutes, conventional plastic bowls usually end up in
              landfill, where they take hundreds of years to break down and release greenhouse gases in
              the process.</p>
          <p>Our BioBoard and clear bioplastic bowls are certified industrially compostable to Australian
              AS4736 standards and will break down in an industrial composting environment. This means if
              you have any leftovers or you’ve just enjoyed a nice curry in your bowl – no need to wash it
              out, food and packaging can both be composted! Composting is a great way to reduce food
              waste and our greenhouse gas emissions, as food in a landfill does not have the proper
              conditions to break down and instead produces methane – a potent greenhouse gas. </p>
      </div>
      <img src="./assets/mods/img/logo.svg" />
  </div>
</div>
