.categoryDescription h2 {
  text-align: center;
  margin: 5rem;
  color: var(--mainColor);
}

.categoryDescription div {
  display: flex;
}

.categoryDescription img {
  width: 30rem;
  margin-left: 8rem;
}

.categoryDescription .description {
  flex-direction: column;
}

.categoryDescription>div>.description>* {
  text-align: left;
}

@include SmallDevices {
  .categoryDescription img {
    margin-left: unset;
  }
  .categoryDescription div {
    display: block;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}