<div class="megaMenuTabs">
  <ul class="container">
    <a [routerLink]="['category']">{{'Cups'|translate}}</a>
    <a [routerLink]="['category']">{{'Containers & Lids'|translate}}</a>
    <a [routerLink]="['category']">{{'Plates & Trays'|translate}}</a>
    <a [routerLink]="['category']">{{'Cutlery & Straws'|translate}}</a>
    <a [routerLink]="['category']">{{'Bags'|translate}}</a>
    <a [routerLink]="['category']">{{'Napkins & Washroom'|translate}}</a>
    <a [routerLink]="['category']">{{'Retail'|translate}}</a>
  </ul>
</div>