:host {
  display: flex;
  flex-direction: column;
}


.main-container{
  max-width: 100%;
  // display: flex;
}
.left-side{
  display: flex;
  align-items: center;
  background-color: #272a30;
  .logo{
    color: #FFF;
    font-size: 32px;
    padding: 15px;
  }
  .navbar{
    display: flex;
    color: #FFF;
    font-size: 1.3rem;
    li {
      font-weight: 700;
      border: 5px solid transparent;
      font-size: 16px;
      margin: 0px 10px;
      padding: 5px 15px;
      &:hover,&.navActive {
        border-left: 5px solid rgb(255, 232, 141);
        color: rgb(255, 232, 141);
        cursor: pointer;
      }
    }
  }
}
.main-wrap{
  width: 100%;
  display: flex;
  .wrap{
    margin: 15px;
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
    .right{
      .filterElementsBox{
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 0;
      }
      .filterElements {
        padding: 5px;
        border-radius: 10px;
        border: solid 1px;
        font-size: 1rem;
        margin: 5px;
        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }
      }
      width: 55%;
      .pals{
        padding: 10px;
        border: 1px solid #272a30;
        max-height: 55%;
        overflow-y: scroll;
        li{
          div{
            margin-left: 1rem;
            padding: 0.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
              padding: 0.25rem 0;
            }
          }
          align-items: center;
          padding: 5px 5px;
          display: flex;
          cursor: pointer;
          .palImg {
            height: 60px;
            width: auto;
            border-radius: 50%;
            border: solid;
            background-color: white;
          }
        }
      }
      input{
        font-size: 16px;
        height: 20px;
        padding: 10px;
        width: 80%;
        border-radius: 50px;
      }
    }
    .left{
      ul{
        display: flex;
        flex-wrap: wrap;
      }
      .filterElements {
        padding: 5px;
        border-radius: 10px;
        border: solid 1px;
        font-size: 1rem;
        margin: 5px;
        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }
      }
      .passiveSkills {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 70vh;
        li {
          width: 44%;
          margin: 1rem;

          .gold,
          .white,
          .red {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.3rem;
            border-radius: 5px;
            padding: 1rem;
            max-width: 15rem;
            margin-bottom: 1rem;
          }

          .gold {
            color: yellow;
            border-left: solid 0.5rem gold;
            border-top: solid 2px gold;
            border-right: solid 2px gold;
            border-bottom: solid 2px gold;
            text-shadow: gold 0px 0px 6px;
            background-color: rgb(219, 219, 219);
          }
          .white {
            color: gainsboro;
            border-left: solid 0.5rem gainsboro;
            border-top: solid 2px gainsboro;
            border-right: solid 2px gainsboro;
            border-bottom: solid 2px gainsboro;
            text-shadow: gainsboro 0px 0px 6px;
            background-color: rgb(92, 92, 92);
          }
          .red {
            color: red;
            border-left: solid 0.5rem red;
            border-top: solid 2px red;
            border-right: solid 2px red;
            border-bottom: solid 2px red;
            text-shadow: red 0px 0px 6px;
            background-color: rgb(219, 219, 219);
          }
        }
      }
      margin-right: 1rem;
      width: 100%!important;
      height: 100%!important;
      .map-container{
        height: 100%;
        width: 98%;
        background-color: rgb(16, 37, 57);
        position: relative;
        outline-style: none
      }
    }
  }
}

img {
  width: auto;
  height: 50px;
}

.upper,
.lower {
  padding: 0.5rem;
  display: flex;
}

.upper {
  .upperLeft,
  .upperRight {
    width: 50%;
    padding: 0.5rem;
  }
  .upperLeft {
    .logo {
      font-size: 3rem;
      font-weight: 900;
      margin: 1rem 0;
    }
    .nav {
      display: flex;
      gap: 15px;
      font-size: 1.3rem;
      li {
        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }
      }
    }
  }
  .upperRight {
    input {
      border-radius: 8px;
      min-width: 160px;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}

.lower {
  width: 100%;
  .lowerLeft {
    width: 50%;
    padding: 0.5rem;
  }
  .lowerRight {
    width: 50%;
    padding: 0 0.5rem;
  }
  .lowerLeft {
    width: 100% !important;
    position: relative;
    .map-container {
      height: 100%;
      width: 100%;
      background-color: rgb(16, 37, 57);
      position: relative;
      outline-style: none;
    }
    .passiveSkills {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      max-height: 60vh;
      li {
        width: 45%;
        margin: 1rem;

        .gold,
        .white,
        .red {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.3rem;
          border-radius: 5px;
          padding: 1rem;
          max-width: 15rem;
          margin-bottom: 1rem;
        }

        .gold {
          color: yellow;
          border-left: solid 0.5rem gold;
          border-top: solid 2px gold;
          border-right: solid 2px gold;
          border-bottom: solid 2px gold;
          text-shadow: gold 0px 0px 6px;
          background-color: rgb(219, 219, 219);
        }
        .white {
          color: gainsboro;
          border-left: solid 0.5rem gainsboro;
          border-top: solid 2px gainsboro;
          border-right: solid 2px gainsboro;
          border-bottom: solid 2px gainsboro;
          text-shadow: gainsboro 0px 0px 6px;
          background-color: rgb(92, 92, 92);
        }
        .red {
          color: red;
          border-left: solid 0.5rem red;
          border-top: solid 2px red;
          border-right: solid 2px red;
          border-bottom: solid 2px red;
          text-shadow: red 0px 0px 6px;
          background-color: rgb(219, 219, 219);
        }
      }
    }
  }
  .lowerRight {
    .pals {
      overflow: auto;
      max-height: 70vh;
      li {
        border: solid 1px;
        padding: 1rem;
        display: flex;
        line-height: 3rem;
        align-items: center;

        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }

        .palImg {
          height: 50px;
          width: auto;
          border-radius: 50%;
          border: solid;
          background-color: white;
        }
      }
    }
  }
}


.active {
  background-color: cornsilk;
  cursor: pointer;
  color: white;
  text-shadow: black 1px 1px 1px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  line-height: 2rem;
  nav {
    display: flex;
    gap: 1rem;
    a {
      cursor: pointer;
    }
  }
}

.hambuger-menu{
  display: none;
  cursor: pointer;
  padding: 3px;
  color: #FFF;
  border: 1px solid #FFF;
}

@include LargeDevices {

}

@include MediumDevices {
  .wrap{
    display: flex;
  }
}

@include SmallDevices {
  .main-wrap{
    .wrap{
      display: block;
    }
  }
  .hambuger-menu{
    display: block;
  }
  .left-side{
    .mobile-navbar{
      transition: all 1s;
      top: 0;
      background-color: #FFF;
      z-index: 10000;
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black;
        padding: 15px;
      }
    }
    justify-content: space-between;
    .navbar{
      transition: all 1s;
      display: none;
    }
  }
}
