<div style="width: 50%;">
  <div style="display: flex;align-items: center;">
    <h2 style="font-size: 3rem;font-weight: 900;">PalWorld</h2>
    <input autocomplete="new-password" type="text" placeholder="請雙擊查詢 Enter" [(ngModel)]="search.keyword"
      (change)="searchPals()">
  </div>

  <hr>

  <ul>
    <li *ngFor="let pal of this.search.searched; let i = index" (click)="activePal(pal)"
      [ngClass]="{ 'active': pal.selected}" [style.background]="pal.selected?pal.color:''">
      <img style="height: 150px;width: auto;border-radius: 50%;border: solid;background-color: white;" [src]="'assets/palworld/pals/'+ pal.image" />
      <div style="padding-left: 1rem;">
        <p>No {{pal.number}}, {{pal.name}}, {{pal.elements}}</p>
        <p>{{pal.workskills}}</p>
        <p>{{pal.drops}}</p>
      </div>
    </li>
  </ul>

</div>
<div style="width: 50%; position: fixed; height: 80vh;right: 0;">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div style="margin-top: 80vh;padding: 30px;">
    <button type="button" (click)="copyLatlngs()">複製多邊形座標點</button>
  </div>
</div>