:host {
  display: flex;
  flex-direction: column;
}

img {
  width: auto;
  height: 50px;
}

.upper,
.lower {
  padding: 0.5rem;
  display: flex;
}

.upper {
  .upperLeft,
  .upperRight {
    width: 50%;
    padding: 0.5rem;
  }
  .upperLeft {
    .logo {
      font-size: 3rem;
      font-weight: 900;
      margin: 1rem 0;
    }
    .nav {
      display: flex;
      gap: 15px;
      font-size: 1.3rem;
      li {
        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }
      }
    }
  }
  .upperRight {
    input {
      border-radius: 8px;
      min-width: 160px;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}

.lower {
  .lowerLeft {
    width: 50%;
    padding: 0.5rem;
  }
  .lowerRight {
    width: 50%;
    padding: 0 0.5rem;
  }

  .lowerLeft {
    position: relative;
    .map-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .map-frame {
        height: 100%;
        #map {
          position: absolute;
          width: 100%;
          max-height: 70vh;
        }
        .leaflet-container {
          background: rgb(16, 37, 54);
        }
      }
    }
    .passiveSkills {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      max-height: 70vh;
      li {
        width: 45%;
        margin: 1rem;

        .gold,
        .white,
        .red {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.3rem;
          border-radius: 5px;
          padding: 1rem;
          max-width: 15rem;
          margin-bottom: 1rem;
        }

        .gold {
          color: yellow;
          border-left: solid 0.5rem gold;
          border-top: solid 2px gold;
          border-right: solid 2px gold;
          border-bottom: solid 2px gold;
          text-shadow: gold 0px 0px 6px;
          background-color: rgb(219, 219, 219);
        }
        .white {
          color: gainsboro;
          border-left: solid 0.5rem gainsboro;
          border-top: solid 2px gainsboro;
          border-right: solid 2px gainsboro;
          border-bottom: solid 2px gainsboro;
          text-shadow: gainsboro 0px 0px 6px;
          background-color: rgb(92, 92, 92);
        }
        .red {
          color: red;
          border-left: solid 0.5rem red;
          border-top: solid 2px red;
          border-right: solid 2px red;
          border-bottom: solid 2px red;
          text-shadow: red 0px 0px 6px;
          background-color: rgb(219, 219, 219);
        }
      }
    }
  }
  .lowerRight {
    .pals {
      overflow: auto;
      max-height: 70vh;
      li {
        border: solid 1px;
        padding: 1rem;
        display: flex;
        line-height: 3rem;
        align-items: center;

        &:hover {
          background-color: rgb(255, 232, 141);
          cursor: pointer;
        }

        .palImg {
          height: 150px;
          width: auto;
          border-radius: 50%;
          border: solid;
          background-color: white;
        }
      }
    }
  }
}

.filterElements {
  padding: 5px;
  border-radius: 15px;
  border: solid 1px;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  line-height: 3rem;
  white-space: nowrap;
  white-space: norma;
  &:hover {
    background-color: rgb(255, 232, 141);
    cursor: pointer;
  }
}

.active {
  background-color: cornsilk;
  cursor: pointer;
  color: white;
  text-shadow: black 1px 1px 1px;
}

#map {
  height: 100vh;
}
