<div class="main-container">
  <div class="left-side">
    <h2 class="logo">PalWorld
    </h2>
    <ul class="navbar">
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'palMap'}" (click)="lowerLeftDisplay = 'palMap'">帕魯地圖</li>
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'passiveSkills'}" (click)="lowerLeftDisplay = 'passiveSkills'">
        被動技能清單</li>
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'serversList'}" (click)="lowerLeftDisplay = 'serversList'">伺服器清單
      </li>
      <li>帕魯守則 / 意見表單(建置中)</li>
      <li>配種表工具(建置中)</li>
      <li>多語系(建置中)</li>
    </ul>
    <i class="hambuger-menu" (click)="mobileListActive = !mobileListActive">=</i>
    <ul class="mobile-navbar" *ngIf="mobileListActive">
      <li (click)="mobileListActive = !mobileListActive">X</li>
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'palMap'}"
        (click)="lowerLeftDisplay = 'palMap';mobileListActive = !mobileListActive">帕魯地圖</li>
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'passiveSkills'}"
        (click)="lowerLeftDisplay = 'passiveSkills';mobileListActive = !mobileListActive">
        被動技能清單</li>
      <li [ngClass]="{'navActive':lowerLeftDisplay == 'serversList'}"
        (click)="lowerLeftDisplay = 'serversList';mobileListActive = !mobileListActive">伺服器清單
      </li>
      <li>帕魯守則 / 意見表單(建置中)</li>
      <li>配種表工具(建置中)</li>
      <li>多語系(建置中)</li>
    </ul>
  </div>
  <div class="main-wrap">
    <div class="wrap"
      [style.display]="lowerLeftDisplay !== 'serversList' ? (deviceCheckService.isMobile?'block':'flex') : 'none'">
      <div class="left">
        <div [style.position]="lowerLeftDisplay === 'passiveSkills'?'absolute':'relative'" class="map-container"
          id="map" [style.visibility]="lowerLeftDisplay === 'palMap' ? 'visible' : 'hidden'">
        </div>
        <div [style.display]="lowerLeftDisplay === 'passiveSkills' ? 'block' : 'none'">
          <ul>
            <li *ngFor="let ele of filterSkillElements;" class="filterElements" [ngClass]="{ 'active': ele.selected}"
              [style.background]="ele.selected?ele.color:''" (click)="filterSkill(ele)">{{ele.name}}</li>
          </ul>
          <ul class="passiveSkills">
            <li *ngFor="let skill of search.skillSearched;">
              <p [ngClass]="{'gold': skill.rarity == '金色','white':skill.rarity == '白色','red':skill.rarity == '紅色'}">
                {{skill.name}}
                <!-- <lib-svg [src]="'./assets/mods/palworld/lv/lv'+skill.level+'.svg'"></lib-svg> -->
              </p>
              <p>{{skill.effect}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="right" *ngIf="!(lowerLeftDisplay=='passiveSkills'&&deviceCheckService.isMobile)">
        <div class="upperRight">
          <input autocomplete="new-password" type="text" placeholder="請雙擊查詢 Enter" [(ngModel)]="search.palKeyword"
            (change)="searchPals()">
          <ul class="filterElementsBox">
            <li *ngFor="let ele of filterElements;" class="filterElements" [ngClass]="{ 'active': ele.selected}"
              [style.background]="ele.selected?ele.color:''" (click)="filterSearchPals(ele)">{{ele.name}}</li>
          </ul>
        </div>
        <ul class="pals">
          <li *ngFor="let pal of this.search.palSearched; let i = index" (click)="activePal(pal)"
            [ngClass]="{ 'active': pal.selected}" [style.background]="pal.selected?pal.color:''">
            <img class="palImg" [style]="pal.selected?'height: 80px':'height: 40px'"
              [src]="'assets/palworld/pals/'+ pal.image" />
            <div>
              <p>No {{pal.number}}, {{pal.name}}, {{pal.elements}}屬性,食量:{{pal.food}}
              </p>
              <p>{{pal.workskills}}</p>
              <ng-container *ngIf="pal.selected">
                <p>{{pal.drops}}, 配種值：{{pal.combiRank}}</p>
                <hr>
                <p>{{pal.description}}</p>
                <p>{{pal.partnerSkill}}</p>
                <ng-container *ngIf="pal.mount">
                  <hr>
                  <p>{{pal.mount.type}}, 速度：{{pal.mount.speed}}</p>
                </ng-container>
              </ng-container>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div style="width: 100%;" [style.display]="lowerLeftDisplay === 'serversList' ? 'block' : 'none'">
      <div class="container">
                <div class="addYourServer">
          <a href="https://forms.gle/DM1fKvCPAUU5nGXk8" target="_blank">+ Add your Server</a>
        </div>
        <ul class="serversList">
          <li *ngFor="let server of (serversList$ | async);">
            <swiper-container navigation="true" pagination="true" pagination-clickable="true"
              style="width:300px;height: 300px;" autoplay-delay="2500">
              <swiper-slide>
                <img *ngIf="server?.image1" [src]="server?.image1" />
              </swiper-slide>
              <swiper-slide>
                <img *ngIf="server?.image2" [src]="server?.image2" />
              </swiper-slide>
              <swiper-slide>
                <img *ngIf="server?.image3" [src]="server?.image3" />
              </swiper-slide>
              <swiper-slide>
                <!-- https://stackoverflow.com/questions/37927657/img-unsafe-value-used-in-a-resource-url-context -->
                <iframe *ngIf="server?.video" width="300"
                  [src]="domSanitizer.bypassSecurityTrustResourceUrl(server?.video)"></iframe>
              </swiper-slide>
            </swiper-container>
            <h3>{{server?.name}}</h3> <span>{{server?.version}}</span>
            <p>{{server?.openingTime}} | {{server?.ipLocation}} </p>
            <p [innerHTML]="server?.other"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div>
    <p>© 2023 UrWebApp All rights reserved.</p>
    <p>We are not affiliated with Palworld.</p>
  </div>
  <nav>
    <span><a>Privacy</a></span>
    <span><a>About US</a></span>
  </nav>
</footer>