.heroImages {
  cursor: pointer;
  background-image: url("/assets/img/johannes-mandle-r_FNlKOxxos-unsplash.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-shadow: var(--subSub2Color) 0.1em 0.1em 0.2em;
}

.heroImages div {
  color: var(--subSubColor);
  padding: 10rem;
}

.heroImages h1 {
  font-size: 4rem;
  width: 30%;
  margin-bottom: 3rem;
  text-align: left;
}

.heroImages p {
  font-size: 2rem;
  width: 50%;
  margin-bottom: 5rem;
  text-align: left;
}

@include SmallDevices {
  .heroImages div {
    padding: unset;
  }
}
