<!-- https://www.wfublog.com/2022/05/sheet-api-read-google-spreadsheet-json.html -->

<div class="flexCenter screenView" style="flex-direction: column; justify-content: center;">
  <div class="filter">
    <span [ngClass]="{'active':filterActive == 'all'}" (click)="filterActive = 'all'">all</span>
    <span [ngClass]="{'active':filterActive == type}" *ngFor="let type of object.types"
      (click)="filterActive = type">{{type}}</span>
  </div>
  <div class="card flexCenter">
    <span style="margin-bottom:1rem;">{{nowQuestion.t}}</span>
    <button (click)="clickBtn()">{{btnWord}}</button>
    <div class="flexCenter" style="margin:2rem 0;">
      <div style="overflow: auto;height: 390px;">{{display}}</div>
    </div>
  </div>
  <a style="margin: 1.5rem;" href="https://forms.gle/eZShhKFAhDsojCGr9" target="_blank">新增題目</a>
</div>