.postersFlyers h2 {
  text-align: center;
  margin: 5rem;
  color: var(--mainColor);
}

.postersFlyers div {
  display: flex;
}

.postersFlyers div {
  justify-content: center;
}

.postersFlyers div img {
  width: 150px;
  margin: 3rem;
  margin-bottom: 8rem;
}
