.categoryBanner {
  background-color: var(--mainColor);
  color: var(--subSubColor);
}

.categoryBanner * {
  text-align: left;
}

.categoryBannerLeft,
.categoryBannerRight {
  width: 50%;
  margin: unset;
}

.categoryBanner>div {
  display: flex;
}

.categoryBannerRight>img {
  margin: 30px 200px;
  width: 200px;
  height: 200px;
}
