<!-- https://github.com/jonsamwell/angular-simple-shopping-cart -->

<div class="container">
  <ng-container [ngTemplateOutlet]="template"></ng-container>
</div>

<ng-template #bag>
  <h2 *ngIf="!deviceCheckService.isMobile">Bag</h2>
  <ul class="bag">
    <li class="header">
      <span class="checkBox"><input type="checkbox" /></span>
      <span class="info">商品</span>
      <span class="count">數量</span>
      <span class="operate">操作</span>
      <span class="price">單價</span>
    </li>
    <br><br>
    <ul class="promotional">
      <div class="method">
        <span>促銷組合</span>
        <span>任 2 件可享 5%</span>
        <span><a>去看看 ></a></span>
      </div>
      <div class="product" *ngFor="let product of promotional;let i = index;">
        <span class="checkBox"><input type="checkbox" /></span>
        <span class="info">
          <a [routerLink]="['/category/product']">
            <img src="./assets/mods/img/logo.svg" />
            <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
          </a>
        </span>
        <span class="count">
          <div class="countButton">
            <span>-</span><input value="1" /><span>+</span>
          </div>
        </span>
        <span class="operate"></span>
        <span class="price">
          <span class="discount">$398</span>
          <span>$351</span>
        </span>
      </div>
    </ul>
    <li class="product" *ngFor="let product of products">
      <span class="checkBox"><input type="checkbox" /></span>
      <span class="info">
        <a [routerLink]="['/category/product']">
          <img src="./assets/mods/img/logo.svg" />
          <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
        </a>
      </span>
      <span class="count">
        <div class="countButton">
          <span>-</span><input value="1" /><span>+</span>
        </div>
      </span>
      <span class="operate">刪除</span>
      <span class="price">
        <span class="discount">$398</span>
        <span>$351</span>
      </span>
    </li>
  </ul>
  <div class="checkout">
    <p class="totalAmount"><span>Total Amount</span><span>NTD</span><span>$5.283</span></p>
    <button (click)="template = check">Checkout</button>
  </div>
</ng-template>

<ng-template #check>
  <h2 class="checkContent">Order</h2>
  <ul class="check checkContent">
    <li *ngIf="!deviceCheckService.isMobile" class="header">
      <span class="info">商品</span>
      <span class="count">數量</span>
      <span class="price">單價</span>
    </li>
    <li class="product" *ngFor="let product of products">
      <span class="info">
        <img src="./assets/mods/img/logo.svg" />
        <h5>台灣出貨 跳繩 無繩跳繩 計數跳繩 電子跳繩 智能跳繩 電子智</h5>
      </span>
      <span class="count">
        1
      </span>
      <span class="price">
        <span class="discount">$398</span>
        <span>$351</span>
      </span>
    </li>
  </ul>
  <h2 class="checkContent">Delivery</h2>
  <ul class="checkContent">
    <li class="header">
      <span class="count">寄送方式</span>
      <span class="info">說明</span>
      <span class="price">單價</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="drone" type="radio" name="delivery" />
        <label for="drone">無人機</label>
      </span>
      <span class="info">預計到貨時間一小時內由無人機空運過來</span>
      <span class="price">$19</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="store" type="radio" name="delivery" />
        <label for="store">便利商店</label>
      </span>
      <span class="info">預計到貨時間7月25日 - 7月28日</span>
      <span class="price">$80</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="freight" type="radio" name="delivery" />
        <label for="freight">宅配</label>
      </span>
      <span class="info">預計到貨時間7月25日 - 7月28日</span>
      <span class="price">$50</span>
    </li>
    <li class="shippingInfo">
      <label for="remark">備註：</label>
      <input id="remark" placeholder="管理室代收/電話聯絡時間" />
      <label for="address">地址：</label>
      <input id="address" placeholder="7-11 BX門市 新北市新店區中央路877號2樓-3" />
    </li>
  </ul>
  <h2 class="checkContent">Coupon</h2>
  <ul class="checkContent">
    <li class="header">
      <span class="count">優惠券</span>
      <span class="info">說明</span>
      <span class="price">單價</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="starNight" type="radio" name="coupon" />
        <label for="starNight">星空價</label>
      </span>
      <span class="info">10-11點限額使用</span>
      <span class="price"><span>(8折)</span><span>$-30</span></span>
    </li>
    <li class="product">
      <span class="count">
        <input id="double11" type="radio" name="coupon" />
        <label for="double11">雙11超額優惠</label>
      </span>
      <span class="info">凡購買商品超過 $ 1,111 立即折抵 $ 500</span>
      <span class="price"><span>$-500</span></span>
    </li>
  </ul>
  <h2 class="checkContent">Payment</h2>
  <ul class="checkContent">
    <li class="header">
      <span class="count">付款方式</span>
      <span class="info">說明</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="cash" type="radio" name="payment" />
        <label for="cash">貨到付款</label>
      </span>
      <span class="info">說明</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="credit" type="radio" name="payment" />
        <label for="credit">信用卡/金融卡</label>
      </span>
      <span class="info">說明</span>
    </li>
    <li class="product">
      <span class="count">
        <input id="bank" type="radio" name="payment" />
        <label for="bank">銀行轉帳</label>
      </span>
      <span class="info">說明</span>
    </li>
  </ul>
  <div class="checkout check" [ngClass]="{'display':detailDisplay}">
    <p><span>商品總金額</span><span>$5.000</span></p>
    <p><span>運費總金額</span><span>$283</span></p>
    <p><span>折價券折扣</span><span>$-500</span></p>
    <p class="totalAmount" (click)="checkDetail()"><span>Total Amount</span><span>NTD</span><span>$5.283</span></p>
    <button [routerLink]="['/sigleColumn/fakeCreditCardVerification']">Purchase</button>
    <!-- IF ALL required OK => VISA => Thanks Page -->
  </div>
</ng-template>
