.headerBoard {
  margin: 1rem 0;
}

.headerBoard>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.logoBox a {
  display: flex;
  align-items: center;
  color: var(--subSub2Color);
}

.logoBox h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.iconButtonBox {
  display: flex;
  align-items: center;
}

.iconButtonBox>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--subSub2Color);
}

.iconButtonBox>a>span {
  margin-top: 0.8rem;
  font-size: 2rem;
}

.iconButtonBox img {
  width: 3rem;
  height: 3rem;
}

.searchBar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBar>a {
  position: absolute;
}

.searchBar>a>img {
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
}

.searchBar>input {
  width: 30rem;
  border: solid 0.1rem #e4e4e4;
  border-radius: 0.5rem;
  padding: 0 2rem 0 5rem;
  height: 4.6rem;
  font-size: 2rem;
}

.searchBar>input:focus {
  outline: none;
}

.fa-burger {
  display: none;
}

@include SmallDevices {

  .fa-burger {
    display: inline-block;
    font-size: 3rem;
    color: var(--subColor);
    text-shadow: 0.1rem 0.1rem white;
  }

  .searchBar,
  .iconButtonBox>a:not(:last-child) {
    display: none;
  }

  .iconButtonBox>a {
    padding: unset;
  }

  .headerBoard>div {
    justify-content: space-around;
  }

  .logoBox h1 {
    font-size: 3rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }
}