<div class="categoryBanner">
  <div class="container">
      <div class="categoryBannerLeft">
          <lib-breadcrumbs></lib-breadcrumbs>
          <div>
              <h2>BAGS</h2>
              <p>BioPak takeaway bags are an environmentally friendly alternative to plastic bags. Make a
                  sustainable
                  switch by swapping out your conventional plastic takeaway bags for these compostable and
                  recyclable
                  bags. These disposable bags are home compostable and are designed to biodegrade without any
                  toxic
                  residues, leaving the planet in a healthier place. Custom printing available for printed
                  takeaway
                  bags</p>
          </div>
      </div>
      <div class="categoryBannerRight">
          <img src="./assets/img/logo.svg" class="filter-green" />
      </div>
  </div>
</div>
