.callToActionAtTop {
  background-color: var(--subColor);
  color: var(--subSubColor);
  display: flex;
  justify-content: center;
  line-height: 4rem;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.5rem 0;

  a {
    text-decoration: underline;
    color: var(--subSubColor);
  }
}

@include SmallDevices {

}
