<div class="productList">
  <div class="toolBar container">
    <div class="filter">
      <i class="fa-solid fa-filter"></i>
      <span>Show Filter</span>
    </div>
    <div class="displayMode">
      <i class="fa-solid fa-grip"></i>
      <i class="fa-solid fa-list"></i>
    </div>
    <div>
      <!-- https://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box -->
      <!-- https://codepen.io/druArt/pen/BWONQp -->
      <select>
        <option disabled selected>Soft By</option>
        <option>Default</option>
        <option>Price</option>
      </select>
    </div>
  </div>
  <div class="products container">
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div>
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>
    <div class="product">
      <a href="#">
        <img src="./assets/img/logo.svg" />
        <h2>390ml / 12oz White Plant Fibre BioBowl</h2>
        <p>$100</p>
      </a>
      <div class="countButton">
        <span>-</span><input value="1" /><span>+</span><button>Buy</button>
      </div>
    </div>

  </div>
  <div class="loadMore">
    <p>You have viewed 12 of 62 Products.</p>
    <button>Load More</button>
  </div>
</div>