<h2>Orders</h2>

<input /><button>搜尋</button>

<table>
  <tr>
    <th>訂單編號</th>
    <th>訂單日期</th>
    <th>訂單總額</th>
    <th>訂單狀態</th>
    <th>配送狀態</th>
    <th>取消/退貨</th>
    <th>發票</th>
    <th>詢問</th>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
  <tr>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Company</td>
    <td>Contact</td>
    <td>Country</td>
    <td>Contact</td>
    <td>Country</td>
  </tr>
</table>