<h2>4.5mm Cocktail Green BioStraw</h2>
<p>$39.15<span>+GST</span></p>
<p>PER CARTON OF 2,500</p>
<hr>
<p>Quantity (cartons):</p>
<div>
  <span>-</span><input value="1" /><span>+</span><button>Buy</button>
</div>
<button>Buy</button>
<p>Stock Availability<span>✦</span></p>
<p>
  <span>WA<span>✔</span></span>
  <span>SA<span>✔</span></span>
  <span>VIC<span>✔</span></span>
  <span>NSW<span>✘</span></span>
</p>
<hr>
<p>Green Cocktail BioStraws are made from 3-ply premium grade FSC™ Mix certified paper. Our paper straws are home
  compostable.</p>
<button>Product Specs</button>
<hr>
<h3>Compatible Products</h3>
