<div class="coreThemes">
  <ul class="container">
    <li [routerLink]="['landing/esgMarketing']">
      <img src="./assets/img/logo.svg" />
      <h3>
        <span>{{'Custom'|translate}}</span>
        <span>{{'Packaging'|translate}}</span>
      </h3>
    </li>
    <li [routerLink]="['landing/esgMarketing']">
      <img src="./assets/img/logo.svg" />
      <h3>
        <span>{{'Custom'|translate}}</span>
        <span>{{'Packaging'|translate}}</span>
      </h3>
    </li>
    <li [routerLink]="['landing/esgMarketing']">
      <img src="./assets/img/logo.svg" />
      <h3>
        <span>{{'Custom'|translate}}</span>
        <span>{{'Packaging'|translate}}</span>
      </h3>
    </li>
  </ul>
</div>
